<div ng-class="{'editabletrue':tabDetail._source.showEditDetail}"> 
    
    <!-- <a class="goto-viewer" ng-click="caseView('caseView')">Open case viewer</a> -->
    <button class="btn clip-btn goto-viewer" ngclipboard data-clipboard-text="{{clipboardVal}}" ngclipboard-success="onClipSucc(e);" ngclipboard-error="onClipError(e);">
        Copy citation
    </button>
    <div class="main-heading">
        <div class="main-heading2 edit_paratitle">
            <h4>
                <span class="edit_title" ng-click="editParaDetail(true, tabDetail._source.title, 'title')" ng-mouseover="lineTitle={'cursor': 'pointer','text-decoration': 'underline'}" ng-mouseleave="lineTitle={}" ng-style="lineTitle">{{tabDetail._source.title}}</span>
                <!-- <span class="show-date" ng-click="editParaDetail(true, '26 / 10 / 2017', 'date')" ng-mouseover="date={'cursor': 'pointer','text-decoration': 'underline'}" ng-mouseleave="date={}" ng-style="date">26 / 10 / 2017</span> -->
            </h4>
        </div>
    </div>
    <div class="sub-heading edit_paracourt">
        <span class="edit_courtname" ng-mouseover="courtName={'cursor': 'pointer','text-decoration': 'underline'}" ng-mouseleave="courtName={}" ng-style="courtName">
            <a ng-if="tabDetail._source.courtName==''" ng-click="addCourt('')">Add court name</a>
            <span ng-if="tabDetail._source.courtName!=''" ng-click="addCourt(tabDetail._source.courtName)">{{tabDetail._source.courtName}}</span>
        </span> 

        <div ng-click="editParaDetail(true, tabDetail._source.petitioners, 'petitioner')" ng-mouseover="petitioner={'cursor': 'pointer','text-decoration': 'underline'}" ng-mouseleave="petitioner={}" ng-style="petitioner">
            <a ng-if="tabDetail._source.petitioners.length==0">Add petitioner</a>
            <span ng-if="tabDetail._source.petitioners.length!=0"><strong>Petitioners : </strong></span>
            <span ng-repeat="petitioner in tabDetail._source.petitioners"><span ng-if="$index!=0"> , </span>{{petitioner.name}}</span>
        </div>
    </div>
    <div class="editable-box">
        <textarea class="form-control" ng-model="tabDetail._source.editDetText"></textarea>
        <div class="editable-submit">
            <button class="btn btn-default save_courtname" ng-click="editParaDetail(false, tabDetail._source.editDetText)">Save</button> 
            <button class="btn btn-default save_courtname" ng-click="cancelBox('metadata', paragraph)">Cancel</button>
        </div>
    </div>
    <div class="sub-heading" ng-click="editParaDetail(true, tabDetail._source.respondents, 'respondant')" ng-mouseover="respondant={'cursor': 'pointer','text-decoration': 'underline'}" ng-mouseleave="respondant={}" ng-style="respondant">
        <!-- <a ng-if="tabDetail._source.respondents.name==undefined || tabDetail._source.respondents.name==''">Add respondant</a> -->
        <!-- <span ng-if="tabDetail._source.respondents.name!=undefined && tabDetail._source.respondents.name!=''">{{tabDetail._source.respondents.name}}</span> -->
        <a ng-if="tabDetail._source.respondents.length==0">Add respondant</a>
        <span ng-if="tabDetail._source.respondents.length!=0"><strong>Respondents : </strong></span>
        <span ng-repeat="respondent in tabDetail._source.respondents"><span ng-if="$index!=0"> , </span>{{respondent.name}}</span>
    </div>
    <div class="sub-heading" ng-click="editParaDetail(true, tabDetail._source.judges, 'judge')" ng-mouseover="judge={'cursor': 'pointer','text-decoration': 'underline'}" ng-mouseleave="judge={}" ng-style="judge">
        <a ng-if="tabDetail._source.judges.length==0">Add judge</a>
        <span ng-if="tabDetail._source.judges.length!=0"><strong>Judges : </strong></span>
        <span ng-repeat="judge in tabDetail._source.judges"><span ng-if="$index!=0"> , </span>{{judge.name}}</span>
    </div>

    <div class="sub-heading" ng-click="editParaDetail(true, tabDetail._source.citation, 'citation')" ng-mouseover="citation={'cursor': 'pointer','text-decoration': 'underline'}" ng-mouseleave="citation={}" ng-style="citation">
        <a ng-if="tabDetail._source.citation.length == 0 || tabDetail._source.citation == undefined">Add citation</a>
        <span ng-if="tabDetail._source.judges.citation != 0 && tabDetail._source.citation != undefined"><strong>Citation : </strong></span>
        <span ng-repeat="judge in tabDetail._source.citation"><span ng-if="$index!=0"> , </span>{{citation.name}}</span>
    </div>

    <div class="sub-heading" ng-click="editParaDetail(true, tabDetail._source.summary, 'summary')" ng-mouseover="summary={'cursor': 'pointer','text-decoration': 'underline'}" ng-mouseleave="summary={}" ng-style="summary">
        <a ng-if="tabDetail._source.summary=='' || tabDetail._source.summary==undefined">Add summary</a>
        <span ng-if="tabDetail._source.summary!='' && tabDetail._source.summary!=undefined">{{tabDetail._source.summary}}</span>
    </div>

    <div class="sub-heading" ng-mouseover="case={'cursor': 'pointer','text-decoration': 'underline'}" ng-mouseleave="case={}" ng-style="case">
        <a ng-if="tabDetail._source.parent_case == undefined" ng-click="caseView('modal')">Assign to a case</a>
        <a ng-if="tabDetail._source.parent_case != undefined" ng-click="caseView('tab')">{{tabDetail._source.parent_case}}</a>
    </div>

    <div class="sub-heading" ng-mouseover="date={'cursor': 'pointer','text-decoration': 'underline'}" ng-mouseleave="date={}" ng-style="date">
        <a ng-if="tabDetail._source.date == undefined" ng-click="openDateModal(true)">Add date</a>
        <a ng-if="tabDetail._source.date != undefined" ng-click="openDateModal(false, tabDetail._source.date)">{{tabDetail._source.date | date : 'd/M/yyyy'}}</a>
    </div>


    <div class="icons text-right">
        <a ng-if="tabDetail._source.tags.length==0" ng-click="addDocTag()">Add tag</a>
        <span ng-if="tabDetail._source.tags.length!=0" ng-click="addDocTag()" ng-repeat="tag in tabDetail._source.tags"><span ng-if="$index!=0"> , </span>{{tag}}</span>
        <span>
            <select ng-change="changeDocType()" ng-model="tabDetail._source.type">
                <option>Assign a document type</option>
                <option>JUDGEMENT</option>
                <option>ACT</option>
                <option>ORDER</option>
            </select>
        </span>
        <!-- <span ng-click="editParaDetail(true, tabDetail._source.type, 'type')" ng-mouseover="type={'text-decoration': 'underline'}" ng-mouseleave="type={}" ng-style="type">{{tabDetail._source.type}}</span> -->
        <!-- <span> <a href=""><img src="images/order-icon.png"></a> </span> -->
        <span> <a href=""><img src="images/message.png"></a> </span>
        <span ng-click="printDoc(tabDetail._source.id)"> <a href=""><img src="images/printer.png"></a> </span>
        <span ng-if="tabDetail.subscribed"> <a href="">Subscribed</a></span>
        <span ng-click="subscribeDoc(tabDetail._source.id)" ng-if="!tabDetail.subscribed"> <a href="">Subscribe</a></span>
        <!-- <span ng-click="caseViewerClk({id:tabDetail._source.id, title:tabDetail._source.title})"> <a href="">Case viewer</a></span> -->
        <span ng-click="makeGraph({title:tabDetail._source.title, id:tabDetail._source.id})"> <a href=""><img src="images/graph.png"></a> </span>
    </div>
</div>
<div class="outer-block">
        <div class="inner-block" id="anchor{{paragraph.paragraph_Id}}" ng-repeat="paragraph in tabDetail._source.paragraphs">
            <div class="left-content editparafield" ng-class="{'editabletrue':paragraph.showEditPara}">
                <button class="btn editcontent" ng-click="paragraphClk($event, tabDetail._source.id, paragraph, true)"><i class="fa fa-pencil"></i></button>
                    <span class="parano">{{$index+1}}</span> 
                <p class="paraedit" ng-bind-html="trustAsHtml(paragraph.text)" dynamic="paragraph.text"></p>
                <div class="editable-box">
                    <textarea class="form-control" id="{{paragraph.paragraph_Id}}" ng-model="paragraph.edittext"></textarea>
                    <div class="editable-submit">
                        <button class="btn btn-default editsave" ng-click="paragraphClk($event, tabDetail._source.id, paragraph, false)">Save</button>
                        <button class="btn btn-default save_courtname" ng-click="cancelBox('para', paragraph)">Cancel</button>
                    </div>
                </div>
            </div>
            <div class="right-content notation-popup-block">
                <div class="tag-notation opensidebar" ng-click="annotationClk(tabDetail._source.id,paragraph.paragraph_Id)">
                    <span> <img src="images/annotation-icon.png"></span>
                    <button ng-if="paragraph.showAnnotation" class="btn btn-notation-tag"> {{paragraph.annotationLen}} Annotations</button>
                </div>
                <div class="tag-notation notation-btn" ng-click="tagClk(paragraph)">
                    <span> <img src="images/tag.png"> </span> 
                    <button class="btn btn-notation-tag" data-toggle="modal" data-target="#tag"> 
                        <span ng-if="paragraph.tags.length==0">No Tags</span>
                        <span ng-if="paragraph.tags.length!=0">{{paragraph.tags.length}} Tags</span>
                    </button>
                </div>
                <div class="tag-notation-popup" ng-class="{'show':paragraph.showDocTag}">
                        <label class="control-label">Show visible paragraphs tags</label>
                        <form class="add-tag-form">
                            <div class="form-group">
                                <!-- <input class="form-control"/> -->
                                <select class="tag-select2" name="states[]" multiple="multiple">
                                    <!-- <option value="{{tag.tag}}" ng-repeat="tag in tagsList">{{tag.tag}}</option> -->
                                </select>
                            </div>
                            <!-- <div class="form-group">
                                <div class="custom-tag-block">
                                    <span class="custom-tag dark-blue-bg">UI Design</span>
                                    <span class="custom-tag green-bg">Interactive Design</span>
                                    <span class="custom-tag light-red-bg">Design</span>
                                    <span class="custom-tag blue-bg">Interior Design</span>
                                    <span class="custom-tag light-red-bg">Design</span>
                                    <span class="custom-tag blue-bg">Interior Design</span>
                                </div>
                            </div> -->
                            
                            <!-- <div class="form-group">
                                <div class="selected-tag-block">
                                    <label class="control-label">Selected tags</label>
                                    <span class="custom-tag light-red-bg">Design<i class="fa fa-close closetag"></i></span>
                                    <span class="custom-tag dark-blue-bg">UI Design<i class="fa fa-close closetag"></i></span>
                                    <span class="custom-tag blue-bg">Interior Design<i class="fa fa-close closetag"></i></span>
                                </div>
                            </div> -->
                            <div class="button-box text-right">
                                <button class="btn btn-primary custom-black" ng-click="addParaTags(paragraph, true)">Save</button>
                                <button class="btn btn-primary custom-black" ng-click="addParaTags(paragraph, false)">Cancel</button>
                            </div>
                            <!-- <button class="btn btn-tag-submit" ng-click="addParaTags(paragraph)">Save</button> -->
                        </form>
                    </div>

            </div>
        </div>
</div>

<!-- Case Viewer Modal Start-->
<div id="goto-viewer-modal" class="modal fade global-modal2" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <form class="edit-profile-form"> 
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" ng-click="closeCaseModal('close')">&times;</button> 
                    <!-- <h4 class="modal-title" ng-if="searchCaseList.length==0 && caseSearch!=''">Sorry we couldn't find a Case assigned to this document!</h4> -->
                </div>
                <div class="modal-body">
                    <div class="global-search-block">
                    <form class="global-serach-form">
                        <input type="text" class="form-control" placeholder="Search for case" ng-model="caseSearch" ng-keyup="$event.keyCode === 13 && searchCase()" />
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                    </div>
                    <div class="global-table" ng-if="searchCaseList.length>0">
                        <div class="table-responsive">          
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Case Title</th>
                                        <!-- <th>Summary</th> -->
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="case in searchCaseList">
                                        <td>{{case._source.title}}</td>
                                        <!-- <td>Supreme Court</td> -->
                                        <td><i class="fa fa-plus" ng-click="closeCaseModal('submit', case)"></i></td> 
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- <div class="modal-footer modal-footer-center">
                    <button type="submit" class="btn btn-inverse" ng-click="closeCaseModal('submit')">Submit</button>
                 <a href="" class="msg-info">Still couldn't find your Case? Assign this Judgement as a Parent Document.</a> 
                </div> -->
            </div>
        </form>
    </div>
</div>

<!-- Date Modal Start-->
<div id="date-modal" class="modal fade global-modal2" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <form class="edit-profile-form"> 
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" ng-click="closeDateModal('close')">&times;</button> 
                    <!-- <h4 class="modal-title" ng-if="searchCaseList.length==0 && caseSearch!=''">Sorry we couldn't find a Case assigned to this document!</h4> -->
                </div>
                <div class="modal-body">
                    <h4 class="head4">Edit date</h4>
                    <form>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="text" class="form-control calendar_icn selectDate" id="docDate" placeholder="Date">
                                </div>
                            </div>
                            <div class="button-box text-right">
                                <button class="btn btn-primary custom-black" ng-click="closeDateModal('save')">Submit</button>
                                <button class="btn btn-primary custom-black" ng-click="closeDateModal('close')">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </form>
    </div>
</div>