
<div class="row">
	<div class="profile-custom-col-left">
	<!-- User-Profile-Box Start -->
		<div class="gloabl-box user-profile-box">
		<!-- <a href="#" class="edit-profile" ng-click="editInfo()"> -->
		<a href="#" class="edit-profile" ng-if="user_id == profileID" ng-click="editUserProfile()">
			<!-- <i class="fa" ng-class="{'fa-save':editBtnStatus, 'fa-pencil':!editBtnStatus}"></i> -->
			<i class="fa fa-pencil"></i>
		</a>
		<div class="profile-pic">
			<!-- <input style="cursor: pointer;" type="file" accept="image/*" class="file-input" aria-invalid="false" onchange="angular.element(this).scope().uploadPicture(this)" ng-if="editBtnStatus"> -->
			<img ng-src="{{user_info.profile.image}}"/>
		</div>
		<div class="profile-user-name">
			<span class="user-name">{{user_info.profile.prefix}} </span>
			<span class="user-name edit-user-info user-nameVal">{{user_info.profile.first_name}} {{user_info.profile.middle_name}} {{user_info.profile.last_name}}</span>
			(<span class="user-profession edit-user-info">{{user_info.profile.profile_header}}</span>)
		</div>
		<div class="profile-view"><img src="images/lavel.png"/>245</div>
		<p class="profile-description edit-user-info" ng-bind="user_info.profile.bio"></p>
		<button class="btn btn-follow" ng-if="user_id != profileID" ng-click="followUser()">Follow</button>
			
			<!-- Edit Profile Form Block Start-->
			
			<!-- Edit Profile Form Block End-->

			<!-- Add Profile Popup start -->
			<div class="container-popup edit-profile-popup" ng-class="{'show':editBtnStatus}">
				<div class="custom-popup">
					<h4 class="head4 text-left">Edit Profile</h4>
					<div class="profile_block">
						<div class="profile-pic">
							<img ng-src="{{popup.image}}" style="border-radius: 50%;" />
							<div class="choose-file-block">
								<span class="choose-file">Choose File
									<input style="cursor: pointer;" type="file" accept="image/*" class="file-input" aria-invalid="false" onchange="angular.element(this).scope().uploadPicture(this)">
								</span>
							</div>
						</div>
					</div>
					<form>
						<div class="row">
							<div class="col-sm-3">
								<label>Prefix</label>
								<div class="form-group">
                                    <select class="form-control" ng-model="popup.prefix">
                                        <option value="Mr.">Mr.</option>
                                        <option value="Ms.">Ms.</option>
                                        <option value="Mrs.">Mrs.</option>
                                        <option value="Dr.">Dr.</option>
                                    </select>
                                </div>
								<!-- <div class="form-group">
									<input type="text" class="form-control" placeholder="Prefix" ng-model="popup.prefix">
								</div> -->
							</div>
							<div class="col-sm-3">
								<label>First Name</label>
								<div class="form-group">
									<input type="text" class="form-control" placeholder="First Name" ng-model="popup.first_name">
								</div>
							</div>
							<div class="col-sm-3">
								<label>Middle Name</label>
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Middle Name" ng-model="popup.middle_name">
								</div>
							</div>
							<div class="col-sm-3">
								<label>Last Name</label>
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Last Name" ng-model="popup.last_name">
								</div>
							</div>
							<div class="col-sm-12">
								<label>Full Name</label>
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Name" ng-model="popup.name">
								</div>
							</div>
							<div class="col-sm-6">
								<label>Primary Contact</label>
                                <div class="form-group">
                                    <input type="text" class="form-control" ng-model="popup.contact.mobile" placeholder="Primary contact">
                                </div>
                            </div>
                            <div class="col-sm-6">
                            	<label>Secondary Contact</label>
                                <div class="form-group">
                                    <input type="text" class="form-control" ng-model="popup.contact.work" placeholder="Secondary contact">
                                </div>
                            </div>
							<div class="col-sm-12">
								<label>Email</label>
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Email" readonly="true">
								</div>
							</div>
							<div class="col-sm-12">
								<label>Location</label>
								<div class="form-group">
									<select class="location_select" name="state"></select>
								</div>
							</div>
							<div class="col-sm-12">
								<label>Profession</label>
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Profession" ng-model="popup.profession">
								</div>
							</div>
							<!-- <div class="form-group">
								<input type="text" class="form-control" placeholder="Current Organisation">
							</div> -->
							<div class="col-sm-12">
								<label>Discription</label>
								<div class="form-group">
									<textarea rows="3" class="form-control" placeholder="250 Word Discription" ng-model="popup.bio"></textarea>
								</div>
							</div>
						</div>
						<!-- <div class="button-box text-left">
							<button class="btn btn-primary custom-black" ng-click="editUserProfile()">Save</button>
							<button class="btn btn-primary custom-black" style="float:right;" ng-click="closePopover('profile')">Cancel</button>
						</div> -->
						<div class="button-box text-left">
							<button class="btn btn-primary custom-black" ng-click="editUserProfile()">Save</button>
							<button class="btn btn-primary custom-black" style="float:right;" ng-click="closePopover('profile')">Cancel</button>
						</div>
					</form>
				</div>
			</div>
		<!-- Add Profile Popup end -->
			
		</div>
		<!-- User-Profile-Box End -->
		
	</div>
	
	<!-- <div class="profile-custom-col-right">
		<div class="gloabl-box profile-graph-block">
		<h2 class="gloabl-box-head">Cases Per Year</h2>
		<div class="graph-block">
			<img src="images/cases-per-year.png"/>
		</div>
		</div>
	</div> -->
	
	</div>
	<!-- Row End -->

	<div class="row">
	<div class="profile-custom-col-left">
		<div class="gloabl-box timeline-box">
			<h2 class="gloabl-box-head">Timeline</h2>
			<p class="subtitle">Self-Curated Career Highlights</p>
			<div class="yearpractise" ng-if="user_id == profileID">
				Add an event 
				<a style="position: relative;" class="edit-adv-name" ng-click="addTimeline()"><i class="fa fa-plus"></i></a>
			</div>
			
			<div class="timeline-blocks">
			
			<!-- timeline-Year 1 Start-->
			<div class="timeline-year" ng-repeat="timeline in user_info.profile.timelineArr | orderBy:'-year'">
				<div class="yearcircle"><span>{{timeline.year}}</span></div>
				<!-- <div class="yearpractise">
					Add an event 
					<a style="position: relative;" class="edit-adv-name" ng-click="addTimeline()"><i class="fa fa-plus"></i></a>
				</div> -->
				<div class="row">
					<div >
					<div class="col-sm-6" >
						<div class="publisher-block pub-left" ng-repeat="categories in timeline.timelineList" ng-if="$even">
							<div class="publisher-head">{{categories.type}}</div>
							<div class="publisher-body" ng-if="categories.type == 'internship'">
								<div class="publisher-inner-block" ng-repeat="list in categories.list track by $index" ng-mouseover="list.showEdit=true" ng-mouseleave="list.showEdit=false">
									<p><label>{{list.organization.name}}</label></p>
									<p><label>Designation : </label>{{list.organization.designation}}</p>
									<p><label>Department : </label>{{list.organization.department}}</p>
									<div class="publish-date">14 Oct</div>
									<i class="fa fa-pencil" ng-if="list.showEdit && (user_id == profileID)" ng-click="editTimelineDetail(true, list)"></i> 
								</div>
							</div>
							<div class="publisher-body" ng-if="categories.type == 'education'">
								<div class="publisher-inner-block" ng-repeat="list in categories.list track by $index" ng-mouseover="list.showEdit=true" ng-mouseleave="list.showEdit=false">
									<p><label>{{list.organization.name}}</label></p>
									<p><label>Course : </label>{{list.organization.course}}</p>
									<p><label>Department : </label>{{list.organization.department}}</p>
									<div class="publish-date">14 Oct</div>
									<i class="fa fa-pencil" ng-if="list.showEdit && (user_id == profileID)" ng-click="editTimelineDetail(true, list)"></i> 
								</div>
							</div>
							<div class="publisher-body" ng-if="categories.type == 'publication'">
								<div class="publisher-inner-block" ng-repeat="list in categories.list track by $index" ng-mouseover="list.showEdit=true" ng-mouseleave="list.showEdit=false">
									<p><label>{{list.title}}</label></p>
									<p><label>Publisher : </label>{{list.publisher}}</p>
									<div class="publish-date">14 Oct</div>
									<i class="fa fa-pencil" ng-if="list.showEdit && (user_id == profileID)" ng-click="editTimelineDetail(true, list)"></i> 
								</div>
							</div>
							<div class="publisher-body" ng-if="categories.type == 'case'">
								<div class="publisher-inner-block" ng-repeat="list in categories.list track by $index" ng-mouseover="list.showEdit=true" ng-mouseleave="list.showEdit=false">
									<p><label>Case Name : </label>{{list.name}}</p>
									<div class="publish-date"><i class="fa fa-star-o"></i>19 Oct</div>
									<i class="fa fa-pencil" ng-if="list.showEdit && (user_id == profileID)" ng-click="editTimelineDetail(true, list)"></i> 
								</div>
							</div>
							<div class="publisher-body" ng-if="categories.type == 'article'">
								<div class="publisher-inner-block" ng-repeat="list in categories.list track by $index" ng-mouseover="list.showEdit=true" ng-mouseleave="list.showEdit=false">
									<p><label>{{list.name}}</label></p>
									<p><label>Publisher : </label>{{list.publisher}}</p>
									<div class="publish-date">14 Oct</div>
									<i class="fa fa-pencil" ng-if="list.showEdit && (user_id == profileID)" ng-click="editTimelineDetail(true, list)"></i> 
								</div>
							</div>
						</div>
					</div>
				
					<div class="col-sm-6" >
						<div class="publisher-block pub-right" ng-repeat="categories in timeline.timelineList" ng-if="!$even">
						<div class="publisher-head">{{categories.type}}</div>
						<div class="publisher-body" ng-if="categories.type == 'internship'">
							<div class="publisher-inner-block" ng-repeat="list in categories.list track by $index" ng-mouseover="list.showEdit=true" ng-mouseleave="list.showEdit=false">
								<p><label>{{list.organization.name}}</label></p>
								<p><label>Designation : </label>{{list.organization.designation}}</p>
								<p><label>Department : </label>{{list.organization.department}}</p>
								<div class="publish-date">14 Oct</div>
								<i class="fa fa-pencil" ng-if="list.showEdit && (user_id == profileID)" ng-click="editTimelineDetail(true, list)"></i> 
							</div>
						</div>
						<div class="publisher-body" ng-if="categories.type == 'education'">
							<div class="publisher-inner-block" ng-repeat="list in categories.list track by $index" ng-mouseover="list.showEdit=true" ng-mouseleave="list.showEdit=false">
								<p><label>{{list.organization.name}}</label></p>
								<p><label>Course : </label>{{list.organization.course}}</p>
								<p><label>Department : </label>{{list.organization.department}}</p>
								<div class="publish-date">14 Oct</div>
								<i class="fa fa-pencil" ng-if="list.showEdit && (user_id == profileID)" ng-click="editTimelineDetail(true, list)"></i> 
							</div>
						</div>
						<div class="publisher-body" ng-if="categories.type == 'publication'">
							<div class="publisher-inner-block" ng-repeat="list in categories.list track by $index" ng-mouseover="list.showEdit=true" ng-mouseleave="list.showEdit=false">
								<p><label>{{list.title}}</label></p>
								<p><label>Publisher : </label>{{list.publisher}}</p>
								<div class="publish-date">14 Oct</div>
								<i class="fa fa-pencil" ng-if="list.showEdit && (user_id == profileID)" ng-click="editTimelineDetail(true, list)"></i> 
							</div>
						</div>
						<div class="publisher-body" ng-if="categories.type == 'case'">
							<div class="publisher-inner-block" ng-repeat="list in categories.list track by $index" ng-mouseover="list.showEdit=true" ng-mouseleave="list.showEdit=false">
								<p><label>Case Name : </label>{{list.name}}</p>
								<div class="publish-date"><i class="fa fa-star-o"></i>19 Oct</div>
								<i class="fa fa-pencil" ng-if="list.showEdit && (user_id == profileID)" ng-click="editTimelineDetail(true, list)"></i> 
							</div>
						</div>
						<div class="publisher-body" ng-if="categories.type == 'article'">
							<div class="publisher-inner-block" ng-repeat="list in categories.list track by $index" ng-mouseover="list.showEdit=true" ng-mouseleave="list.showEdit=false">
								<p><label>{{list.name}}</label></p>
								<p><label>Publisher : </label>{{list.publisher}}</p>
								<div class="publish-date">14 Oct</div>
								<i class="fa fa-pencil" ng-if="list.showEdit && (user_id == profileID)" ng-click="editTimelineDetail(true, list)"></i> 
							</div>
						</div>
						<!-- <div class="publisher-body">
							<div class="publisher-inner-block">
								<p>
									<label>Case Name:</label> Lorem ipsum dolor 
								sit amet.
								</p>
								<div class="publish-date"><i class="fa fa-star"></i>14 Oct</div>
							</div>
							<div class="publisher-inner-block">
								<p>
									<label>Case Name:</label> Lorem ipsum dolor 
								sit amet.
								</p>
								<div class="publish-date"><i class="fa fa-star-o"></i>19 Oct</div>
							</div>
						</div> -->
						</div>
					<!-- publisher-block -->
					
					</div>
					</div>
				</div>
			</div>
			<!-- timeline-Year 1 End-->
			
			
			<!-- timeline-Year 2 Start-->
			<!-- <div class="timeline-year">
				<div class="yearcircle"><span>2016</span></div>
				<div class="yearpractise">
				Completed education from <br>
				<span class="advocate-name">OP Jindal University<a href="javascript:void(0);" class="edit-adv-name"><i class="fa fa-pencil"></i></a></span>
				</div>
				<div class="row">
				<div class="col-sm-6">
				<div class="publisher-block pub-left">
				<div class="publisher-head">Published</div>
				<div class="publisher-body">
					<p>
					<label>Paper Title:</label> Lorem ipsum dolor 
					sit amet, consectetur adipiscing 
					elit. Vestibulum pulvinar, odio 
					eget scelerisque.
					</p>
					<p>
					<label>Journal Name:</label> Lorem ipsum 
					dolor sit amet consectetur
					</p>
					<div class="publish-date">14 Oct</div>
				</div>
				</div>
		
				</div>
				
				<div class="col-sm-6">
				
				<div class="publisher-block pub-right">
				<div class="publisher-head">Newspaper Articles</div>
				<div class="publisher-body">
					<p>
					<label>Newspaper Article:</label> Lorem ipsum dolor 
					sit amet, consectetur adipiscing 
					elit. Vestibulum pulvinar, odio 
					eget scelerisque.
					</p>
					<p>
					<label>Newspaper Name:</label> Lorem ipsum 
					dolor sit amet consectetur
					</p>
					<div class="publish-date">14 Oct</div>
				</div>
				</div>
				
				
				</div>
				
				</div>
			</div> -->
			<!-- timeline-Year 2 End-->
			
			
			</div>
			<!-- timeline-blocksEnd-->
		</div>
	</div>
	<!-- Left Col End -->
	<div class="profile-custom-col-right">
		<div class="gloabl-box profile-tab-block">
		<ul class="nav nav-tabs">
			<li class="active"><a data-toggle="tab" href="#profile-tab1" target="_self">About</a></li>
			<li><a data-toggle="tab" href="#profile-tab2" target="_self">Cases</a></li>
			<li><a data-toggle="tab" href="#profile-tab3" target="_self">Decision Analytics</a></li>
			<li><a data-toggle="tab" href="#profile-tab4" target="_self">Following</a></li>
			<li><a data-toggle="tab" href="#profile-tab5" target="_self">Followers</a></li>
		</ul>
		
		<!-- Inner Tab Content Start -->
		<div class="tab-content">
			<div id="profile-tab1" class="tab-pane fade in active">
			<!-- about-user-block Start -->
			<div class="about-user-block">
				<div class="about-outer-block">
					<h4 class="head4">Interests
					<a href="javascript:void(0);" class="edit-info" ng-if="user_id == profileID" ng-click="editAbout('interest')"><i class="fa fa-pencil"></i></a>
					</h4>
					<div class="interest-tag">
						<span class="custom-tag dark-blue-bg" ng-repeat="interest in user_info.profile.interests">
							{{interest}}
						</span>
						<!-- <span class="custom-tag dark-blue-bg">IPR</span>
						<span class="custom-tag dark-blue-bg">Property</span>
						<span class="custom-tag dark-blue-bg">Criminal Law</span>
						<span class="custom-tag dark-blue-bg">Labour Law</span> -->
					</div>

					<!-- Interest Popup start -->
					<div class="container-popup interest-popup" ng-class="{'show':editAboutPopupStatus=='interest'}">
						<div class="custom-popup">
							<h4 class="head4">Interests</h4>
									<form class="add-tag-form">
										<div class="form-group">
											<!-- <input class="form-control"> -->
											 <select class="interest_tag" name="states[]" multiple="multiple"> </select>
										</div>
										<!-- <div class="form-group">
											<div class="custom-tag-block">
												<span class="custom-tag dark-blue-bg">UI Design</span>
												<span class="custom-tag green-bg">Interactive Design</span>
												<span class="custom-tag light-red-bg">Design</span>
												<span class="custom-tag blue-bg">Interior Design</span>
												<span class="custom-tag light-red-bg">Design</span>
												<span class="custom-tag blue-bg">Interior Design</span>
											</div>
										</div> -->
										
										<!-- <div class="form-group">
											<div class="selected-tag-block">
												<label class="control-label">Selected tags</label>
												<span class="custom-tag light-red-bg">Design<i class="fa fa-close closetag"></i></span>
												<span class="custom-tag dark-blue-bg">UI Design<i class="fa fa-close closetag"></i></span>
												<span class="custom-tag blue-bg">Interior Design<i class="fa fa-close closetag"></i></span>
											</div>
										</div> -->
										<button class="btn  btn-tag-submit" style="float: left;" ng-click="submitAbout('interest')">Submit</button>
										<button class="btn  btn-tag-submit" ng-click="closePopover('interest')">Cancel</button>
									
								</form>
						</div>
					</div>
					<!-- Interest Popup end -->
				</div>
				
				<div class="about-outer-block">
					<h4 class="head4">About
					<a href="javascript:void(0);" class="edit-info" ng-if="user_id == profileID" ng-click="editAbout('about')"><i class="fa fa-pencil"></i></a>
					</h4>
					<p ng-bind-html="trustAsHtml(user_info.profile.about)"></p>

					<!-- About Popup start -->
					<div class="container-popup about-popup" ng-class="{'show':editAboutPopupStatus=='about'}">
						<div class="custom-popup">
							<h4 class="head4">About</h4>
							<form>
								<div class="form-group">
									<textarea rows="8" class="form-control" id="aboutCKEditor">{{user_info.profile.about}}</textarea>
								</div>
								<div class="button-box text-right">
									<button class="btn btn-primary custom-black" style="float:left" ng-click="submitAbout('about')">Submit</button>
									<button class="btn btn-primary custom-black" ng-click="closePopover('about')">Cancel</button>
								</div>
							</form>
						</div>
					</div>
				<!-- About Popup end -->
				</div>
				
				<div class="about-outer-block">
					<h4 class="head4">Education & Background
					<a href="javascript:void(0);" class="edit-info" ng-if="user_id == profileID" ng-click="editAbout('EandB')"><i class="fa fa-plus"></i></a>
					</h4>

					<div class="about-inner-block clearfix" ng-repeat="background in user_info.profile.background">
						<div ng-if="background.type=='education'">
							<div class="about-user-inner-left">
								<div class="edu-thumb">
									<img src="images/degree-icon1.png" ng-if="background.organization.logo=='' || background.organization.logo==undefined">
									<img ng-src="{{background.organization.logo}}" ng-if="background.organization.logo!=''">
								</div>
							</div>
							<div class="about-user-inner-right">
								<h5 class="head5">{{background.organization.department}}</h5>
								<div class="about-info1">{{background.organization.name}} ({{background.from | date : 'yyyy'}} - {{background.to | date : 'yyyy'}})</div>
								<div class="about-info1">{{background.organization.course}}</div>
								<div class="about-info1">{{background.organization.fieldStudy}}</div>
								<!-- <p>{{background.description}}</p> -->
								<a href="javascript:void(0);" class="edit-info" ng-if="user_id == profileID" ng-click="editEandB('EandB', background)"><i class="fa fa-pencil"></i></a>
							</div>
						</div>
						<div ng-if="background.type=='work'">
							<div class="about-user-inner-left">
								<div class="edu-thumb">
									<img src="images/degree-icon1.png" ng-if="background.organization.logo=='' || background.organization.logo==undefined">
									<img src="{{background.organization.logo}}" ng-if="background.organization.logo!=''">
								</div>
							</div>
							<div class="about-user-inner-right">
								<!-- <h5 class="head5">{{background.organization.department}}</h5> -->
								<div class="about-info1"><h5 class="head5">{{background.organization.name}}</h5> ({{background.from | date : 'yyyy'}} - {{background.to | date : 'yyyy'}})</div>
								<p>{{background.description}}</p>
								<a href="javascript:void(0);" class="edit-info" ng-if="user_id == profileID" ng-click="editEandB('EandB', background)"><i class="fa fa-pencil"></i></a>
							</div>
						</div>
					</div>
					<!-- <div class="about-inner-block clearfix">
						<div class="about-user-inner-left">
						<div class="edu-thumb">
							<img src="images/edu-icon1.png">
						</div>
						</div>
					
						<div class="about-user-inner-right">
						<h5 class="head5">Rajiv Singhania & Partners</h5>
						<div class="about-info1">Jun 2016 to Oct 2017</div>
						<div class="about-info2">New Delhi, India</div>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum pulvinar, odio eget scelerisque consectetur, risus orci suscipit eros, ut dignissim diam arcu vel quam. Mauris nec magna sit amet purus ultricies pretium. Pellentesque varius egestas risus, a dapibus sem. Donec et ex arcu. Praesent placerat, orci ac consectetur purus vehicula, dolor leo sodales diam.</p>
						</div>
					</div>
					
					<div class="about-inner-block clearfix">
						<div class="about-user-inner-left">
						<div class="edu-thumb">
							<img src="images/degree-icon1.png">
						</div>
						</div>
					
						<div class="about-user-inner-right">
						<h5 class="head5">B.Tech</h5>
						<div class="about-info1">Delhi University (2008-09)</div>
						</div>
					</div> -->

					<!-- Education & Background Popup start -->
					<div class="container-popup education-popup" ng-class="{'show':editAboutPopupStatus=='EandB'}">
						<div class="custom-popup">
							<h4 class="head4">Education & Background</h4>
							<form>
								<div class="row">
									<div class="col-sm-12">
											<div class="form-group">
												<select ng-model="popup.educationType">
													<option value="education">Education</option>
													<option value="work">Work</option>
												</select>
											</div>
									</div>

									<div class="col-sm-12">
										<div class="form-group">
											<label>Name of Institute</label>
											<input type="text" class="form-control" placeholder="Name of Institute" ng-model="popup.institute">
										</div>
									</div>

									<div class="col-sm-6" ng-if="popup.educationType == 'education'">
										<div class="form-group">
											<label>Course Name</label>
											<input type="text" class="form-control" placeholder="Course Name" ng-model="popup.course">
										</div>
									</div>

									<div class="col-sm-6" ng-if="popup.educationType == 'education'">
										<div class="form-group">
											<label>Department Name</label>
											<input type="text" class="form-control" placeholder="Department Name" ng-model="popup.department">
										</div>
									</div>

									<div class="col-sm-12" ng-if="popup.educationType == 'education'">
										<div class="form-group">
											<label>Field of study</label>
											<input type="text" class="form-control" placeholder="Field of study" ng-model="popup.studyfield">
										</div>
									</div>

									<div class="col-sm-6">
										<div class="form-group">
											<div class="logo-input">
											<label>Location</label>
											<!-- <input type="text" class="form-control" placeholder="Location" ng-model="popup.location"> -->
											<select class="location_tag" name="state"></select>
										</div>
										</div>
									</div>

									<div class="col-sm-6">
										<div class="form-group">
											<div class="logo-input">
												<label class="control-label">Logo</label>
												<input type="file" class="form-control" placeholder="Logo" onchange="angular.element(this).scope().uploadLogo(this)">
											</div>
										</div>
									</div>

									<div class="col-sm-6">
										<div class="form-group">
											<label>From</label>
											<input type="text" class="form-control calendar_icn selectDate" id="fromEDDate" placeholder="From" ng-model="popup.fromDate">
										</div>
									</div>

									<div class="col-sm-6">
										<div class="form-group">
											<label>To</label>
											<input type="text" class="form-control calendar_icn selectDate" id="toEDDate" placeholder="To" ng-model="popup.toDate">
										</div>
									</div>

									<div class="col-sm-12" ng-if="popup.educationType == 'work'">
										<div class="form-group">
											<label>Work Profile</label>
											<textarea rows="5" class="form-control" placeholder="Work Profile" ng-model="popup.workProfile"></textarea>
										</div>
									</div>

								</div>
								<div class="button-box text-right">
									<button class="btn btn-primary custom-black" style="float:left" ng-click="submitAbout('EandB')">Submit</button>
									<button class="btn btn-primary custom-black" ng-click="closePopover('EandB')">Cancel</button>
								</div>
							</form>
						</div>
					</div>
					<!-- Education & Background Popup end -->
					
				</div>
				
				
				<div class="about-outer-block">
					<h4 class="head4">Endorsements
						<a href="javascript:void(0);" class="edit-info" ng-if="user_id == profileID" ng-click="editAbout('endorsement')">
							<i class="fa fa-plus"></i>
						</a>
					</h4>
					<div class="about-endorsements-block clearfix">
						<div class="about-user-inner-left">
						<div class="edu-thumb">
							<img src="images/edu-icon1.png">
						</div>
						<h5 class="head5">Ashutosh Sharma</h5>
						<div class="about-info1">Assistant Manager</div>
						<div class="about-info2">Jun 2016 to Oct 2017</div>
						
						</div>
					
						<div class="about-user-inner-right">
						<a href="javascript:void(0);" class="edit-info">
							<i class="fa fa-pencil"></i>
						</a>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum pulvinar, odio eget scelerisque consectetur, risus orci suscipit eros, ut dignissim diam arcu vel quam. Mauris nec magna sit amet purus ultricies pretium. Pellentesque varius egestas risus, a dapibus sem. Donec et ex arcu. Praesent placerat, orci ac consectetur purus vehicula, dolor leo sodales diam. et faucibus mi sapien sed turpis. Curabitur molestie sem nec dui malesuada, quis dictum eros pellentesque. Fusce faucibus iaculis laoreet. Donec rutrum mauris vel est tempus viverra. Nullam fermentum cursus nunc, nec venenatis tellus eleifend eget. Vestibulum sem neque.</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum pulvinar, odio eget scelerisque consectetur, risus orci suscipit eros, ut dignissim diam arcu vel quam. Mauris nec magna sit amet purus ultricies pretium. Pellentesque varius egestas risus, a dapibus sem. Donec et ex arcu. Praesent placerat, orci ac consectetur purus vehicula, dolor leo sodales diam.</p>
						</div>
					</div>

					<!-- Add Endorsements Popup Start -->
					<div class="container-popup endorsements-popup" ng-class="{'show':editAboutPopupStatus=='endorsement'}">
						<div class="custom-popup">
							<h4 class="head4">Add Endorsements</h4>
							<form>
								<div class="form-group">
									<textarea rows="8" class="form-control">Endorsements</textarea>
								</div>
								<!-- <div class="tag-button-block">
									<span class="custom-tag light-red-bg">Design<i class="fa fa-close closetag"></i></span>
									<span class="custom-tag dark-blue-bg">UI Design<i class="fa fa-close closetag"></i></span>
									<span class="custom-tag dark-blue-bg">Keywords<i class="fa fa-close closetag"></i></span>
								</div> -->
								<div class="button-box text-right">
									<button class="btn btn-primary custom-black" style="float:left" ng-click="closePopover('endorsement')">Submit</button>
									<button class="btn btn-primary custom-black" ng-click="closePopover('endorsement')">Cancel</button>
								</div>
							</form>
						</div>
					</div>
				<!-- Add Endorsements Popup End -->
				</div>
			</div>
			<!-- about-user-block End -->
			</div>
			<!-- Inner Tab 1 End -->
			<div id="profile-tab2" class="tab-pane fade">
				<!-- <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#newArticleModal" ng-click="addArticle()">Add case to profile</button> -->
				<button type="button" class="btn btn-info btn-sm" ng-if="user_id == profileID" ng-click="addArticle('addArticle')">Add case to profile</button>
				<div ng-repeat="doc in user_info.profile.case_documents track by $index" ng-if="doc!=null"> 
					<div class="gloabl-detail-block">
						<h4>
							<span class="inline-head">{{doc._source.title}}</span>
							<!-- <select class="js-example-basic-multiple" name="states[]" multiple="multiple">
								<option value="AL">Alabama</option>
								<option value="WY">Wyoming</option>
							</select> -->
							<!-- <span class="custom-tag dark-blue-bg">UI Design</span>
							<span class="custom-tag green-bg">Interactive Design</span>
							<span class="custom-tag light-red-bg">Design</span> -->
						</h4>
						<p>
							<label ng-if="doc._source.tags.length!=0">Subject:</label>
							<span ng-repeat="tag in doc._source.tags"><span ng-if="$index!=0"> , </span>{{tag}}</span>
						</p>
						<div class="row">
							<div class="col-sm-6">
							<!-- <p><label>Citation:</label>49.SCC.2017</p> -->
							</div>
							<div class="col-sm-6">
							<p><label>Court:</label>{{doc._source.courtName}}</p>
							</div>
						</div>
						<p><label>Summary:</label>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam efficitur dapibus rhoncus.</p>
					</div>
					
					
				</div>
			</div>
			<!-- Inner Tab 2 End -->
			
			<div id="profile-tab3" class="tab-pane fade">
			
				<div class="graph-action-btn">
				<button class="btn btn-custom">Issue</button>
				<button class="btn btn-custom2">Court</button>
				<button class="btn btn-custom2">Judges</button>
				</div>
			
			<div class="row">
				<div class="col-sm-12 col-md-6">
				<div class="gloabl-box profile-graph-block">
					<h2 class="gloabl-box-head">Decision Statistics</h2>
					<div class="graph-block">
					<img src="images/decision-graph.png"/>
					</div>
				</div>
				</div>
				<div class="col-sm-12 col-md-6">
				<div class="gloabl-box profile-graph-block">
					<h2 class="gloabl-box-head">Decision Statistics</h2>
					<div class="graph-block">
					<img src="images/decision-graph2.png"/>
					</div>
				</div>
				</div>
			</div>
			</div>
			<!-- Inner Tab 3 End -->

			<div id="profile-tab4" class="tab-pane fade">
				<div class="custom-table">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Image </th>
								<th>Name </th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="following in user_info.profile.following">
								<td><img ng-src="{{following.profile.image}}" style="width:7%;"></td>
								<td>{{following.profile.first_name}} {{following.profile.middle_name}} {{following.profile.last_name}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<!-- Inner Tab 4 End -->

			<div id="profile-tab5" class="tab-pane fade">
				<div class="custom-table">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Image </th>
								<th>Name </th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="follower in user_info.profile.followers">
								<td><img ng-src="{{follower.profile.image}}" style="width:7%;"></td>
								<td>{{follower.profile.first_name}} {{follower.profile.middle_name}} {{follower.profile.last_name}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<!-- Inner Tab 5 End -->
		</div>
		<!-- Inner Tab Content End -->
		
		</div>
	</div>
	<!-- Right Col End -->
	
	</div>
	<!-- Row End -->







	<!-- Modal -->
<div id="newArticleModal" class="modal fade modal_custom" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
        <h4 class="head4 text-center">Add New Article</h4>
			<div class="case-searh">
				<input type="text" class="form-control search_icn" placeholder="Search case " ng-model="docCaseModal.search" ng-keyup="$event.keyCode === 13 && searchCaseDoc()" />
				<div class="custom-table">
					<table class="table table-striped">
						<tbody>
							<tr ng-repeat="docCase in searchCaseDocList">
								<td>{{docCase._source.title}}</td>
								<td><i class="fa fa-plus" ng-click="addRelevantCaseDocs(docCase, true)"></i></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="custom-table">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Case Name </th>
								<th>Court Name </th>
								<!-- <th>Citation </th> -->
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="doc in user_info.profile.case_documents track by $index" ng-if="doc!=null">
								<td>{{doc._source.title}}</td>
								<td>{{doc._source.courtName}}</td>
									<td><i class="fa fa-trash" ng-click="addRelevantCaseDocs(doc, false)"></i></td> 
							</tr>
						</tbody>
					</table>
				</div>
				<div class="button-box text-right">
					<button class="btn btn-primary custom-black" style="float:left" ng-click="addArticle('cancel')">Cancel</button>
					<button class="btn btn-primary custom-black" ng-click="addArticle('addCase')">Add New Case</button>
				</div>
			</div>
      </div>
    </div>

  </div>
</div>

<!-- Add Timeline Event Modal Start-->
<div id="timeline-event-modal" class="modal fade global-modal2" role="dialog">
	<div class="modal-dialog">

	<!-- Modal content-->
	<form class="edit-profile-form"> 
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button> 
		<h4 class="modal-title">{{modal.heading}} Timeline Event</h4>
		</div>
		<div class="modal-body">
		<div class="form-group">
			<!-- <input type="text" class="form-control" placeholder="Job/Education/Promotion" /> -->
			<select ng-model="modal.type">
				<option value="internship">Internship</option>
				<option value="education">Education</option>
				<option value="case">Case</option>
				<option value="publication">Publication</option>
				<option value="article">Article</option>
			</select>
		</div>
		
		<div class="form-group" ng-if="modal.type=='internship'">
			<label>Designation</label>
			<input type="text" class="form-control" placeholder="Designation" ng-model="modal.designation" />
		</div>

		<div class="form-group" ng-if="modal.type=='education'">
			<label>Course</label>
			<input type="text" class="form-control" placeholder="Course" ng-model="modal.course" />
		</div>
		
		<div class="form-group" ng-if="modal.type=='internship' || modal.type=='education'">
			<label>Department</label>
			<input type="text" class="form-control" placeholder="Department" ng-model="modal.department" />
		</div>
		
		<div class="form-group">
			<label>Name</label>
			<input type="text" class="form-control" placeholder="Name" ng-model="modal.name" />
		</div>

		<div class="form-group" ng-if="modal.type=='publication' || modal.type=='article'">
			<label>Publisher</label>
			<input type="text" class="form-control" placeholder="Publisher" ng-model="modal.publisher" />
		</div>
		
		<div class="form-group" ng-if="modal.type!='case' && modal.type!='publication'">
			<label>Website Link</label>
			<input type="text" class="form-control" placeholder="Website Link" ng-model="modal.website" />
		</div>
		
		<div class="row">
			<div class="col-sm-5">
				<div class="form-group">
					<label>From</label>
					<div class="custom-datepicker inline-datepicker">
						<input type="text" class="form-control" id="addTimeFrom" />
						<img src="images/calendar-active.png" ng-click="datePickerOpen('from')" />
					</div>
				</div>
			</div>
			
			<div class="col-sm-5" ng-if="modal.type=='internship' || modal.type=='education'">
				<div class="form-group">
					<label>To</label>
					<div class="custom-datepicker inline-datepicker">
					<input type="text" class="form-control" id="addTimeTo" />
					<img src="images/calendar-active.png" ng-click="datePickerOpen('to')" />
					</div>
				</div>
			</div>
			
		</div>
		
		</div>
		<div class="modal-footer modal-footer-center">
			<button type="submit" class="btn btn-inverse" ng-click="submitTimeline(true)">Submit</button>
			<button type="submit" class="btn btn-inverse" ng-click="submitTimeline(false)">Cancel</button>
		</div>
	</div>
	</form>
	</div>
</div>

<!-- Add Timeline Event Modal End -->

	<!-- Modal -->
<div id="newCaseModal" class="modal fade modal_custom" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
        <h3 class="head4 text-center">Add Case</h3>
			<form>
				<div class="form-group">
					<label>Title</label>
					<input type="text" class="form-control" placeholder="Title" ng-model="case.title" />
				</div>
				<div class="form-group">
					<label>Summary</label>
					<input type="text" class="form-control" placeholder="Summary" ng-model="case.summary" />
				</div>
				<div class="custom-table" ng-if="tempDocList.length!=0">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Document name </th>
								<th>Court Name </th>
								<!-- <th>Citation </th> -->
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="tempDoc in tempDocList track by $index">
								<td>{{tempDoc.title}}</td>
								<td>{{tempDoc.courtName}}</td>
								<td><i class="fa fa-trash" ng-click="addRelevantDocs(tempDoc, false)"></i></td> 
							</tr>
						</tbody>
					</table>
				</div>
				 <!-- <div class="form-group">
					<textarea class="form-control" placeholder="Abstract"></textarea>
				</div>
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Suggested Citation"/>
				</div>
				<div class="form-group">
					<input type="text" class="form-control" placeholder="External Link"/>
				</div>
				<div class="tag-button-block">
					<span class="custom-tag light-red-bg">Design<i class="fa fa-close closetag"></i></span>
					<span class="custom-tag dark-blue-bg">UI Design<i class="fa fa-close closetag"></i></span>
					<span class="custom-tag dark-blue-bg">Keywords<i class="fa fa-close closetag"></i></span>
				</div> -->
				<div class="button-box text-right">
					<button class="btn btn-primary custom-black" ng-click="addCase(false)">Cancel</button>
					<button class="btn btn-primary custom-black" ng-click="addCase(true)">Submit</button>
				</div> 
			</form>
			<input type="text" class="form-control search_icn" placeholder="Search document " ng-model="case.search" ng-keyup="$event.keyCode === 13 && searchDoc()" />
			<div class="custom-table">
				<table class="table table-striped">
					<tbody>
						<tr ng-repeat="doc in searchDocList">
							<td>{{doc._source.title}}</td>
							<td><i class="fa fa-plus" ng-click="addRelevantDocs(doc, true)"></i></td>
						</tr>
					</tbody>
				</table>
			</div>
      </div>
    </div>
  </div>
</div>
