<section class="login-section">
	<div class="container">
		<div class="login-signup-part">
			<div class="row">
			<div class="col-sm-7" style="margin-top: -25px;">
				<div class="left-part">
					<div class="website-logo">
						<a href="#"><img src="images/logo.png"> </a>
					</div>
					<div class="about">
						<p>
							<i class="fa fa-quote-left" aria-hidden="true"></i>
							The concept of an open government is the direct emanation from
the right to know which seems to be implicit in the right of free speech
and expression guaranteed under Article 19(1)(a). Therefore, disclosure
of information in regard to the functioning of Government must be the
rule and secrecy an exception justified only where the strictest
requirement of public interest so demands.
							<i class="fa fa-quote-right" aria-hidden="true"></i>
							</p>
						<div class="spoke-person text-right">  -SP Gupta v. Union of India AIR 1982 SC 149 </div>
					</div>
						<div class="research-text">
						Begin your research journey here...
						</div>

					<div class="input-group custm-input-grp" id="adv-search">
						<!-- <input type="text" class="form-control search-input" placeholder="Search by keyowrds" /> -->
						<input type="text" class="form-control" ng-model="searchVal" placeholder="Search by keywords"  ng-keyup="$event.keyCode === 13 && searchDocument()">
						<div class="input-group-btn">
							<div class="btn-group" role="group">
								<!-- <div class="dropdown dropdown-lg">
									<button type="button" class="btn btn-drpdwn dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Source<span class="caret mg"></span></button>
									<div class="dropdown-menu custm-dropdwn-menu dropdown-menu-right" role="menu">
										<ul class="dropdown-list">
											<li> Source</li>
											<li> Source</li>
											<li> Source</li>
										</ul>
									</div>
								</div> -->
								<button type="button" class="btn btn-search" ng-click="searchDocument()"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
							</div>
						</div>

					</div>
					<div class="advanced-search text-right">
							<a href="#"> Advanced Search  </a>
					</div>
					
				</div>
			</div>
			
			<div class="col-sm-5">
				<div class="right-part">
					<ul class="nav nav-pills custm-nav nav-justified">
						<li class="active"><a data-toggle="pill" href="#login" ng-click="tabClk('login')" target="_self">Login</a></li>
						<li><a data-toggle="pill" href="#signup" ng-click="tabClk('signup')" target="_self">Sign Up</a></li>
					</ul>
					<div class="tab-content custm-tab">
						<div id="login" class="tab-pane fade in active">
							<div class="form-group">
								<div class="input-wrap">
									<img src="images/email.png">
									<!-- <input type="email" placeholder="Email" ng-model="login.email" class="form-control custm-control" ng-keyup="keyUp($event)"> -->
									<input type="email" placeholder="Email" ng-model="login.email" class="form-control custm-control">
								</div>
								<!-- <span style="color:red;" ng-if="login.valid_email">Please enter valid email</span> -->
							</div>
							
							<div class="form-group"> 
								<div class="input-wrap">
									<img src="images/padlock.png">
									<input type="password" placeholder="Password" ng-model="login.pwd" maxlength="20" class="form-control custm-control">
								</div>
								<!-- <span style="color:red;" ng-if="login.valid_pwd">Please enter valid password</span> -->
							</div>
							<div class="forgot-password text-right" data-toggle="modal" data-target="#forgot-pwd-modal" ng-click="forgotPwdClk()">
								<a href="#" > Forgot Password? </a>
							</div>
							<div class="form-button" ng-click="loginClk()">
								<!-- <button class="btn btn-submit" ng-disabled="login.email=='' || login.pwd=='' || login.valid_email || login.valid_pwd"> Login </button> -->
								<button class="btn btn-submit"> Login </button>
							</div>
						</div>
						<div id="signup" class="tab-pane fade">
							<div class="form-group">
								<input type="text" placeholder="Full Name" ng-model="create.full_name" class="form-control signup custm-control">
							</div>
							<div class="form-group"> 
								<input type="email" placeholder="Email" ng-model="create.email" class="form-control signup custm-control">
							</div>
							<div class="form-group"> 
								<input type="password" placeholder="Password" ng-model="create.pwd" class="form-control signup custm-control">
							</div>
							<div class="form-group"> 
								<input type="password" placeholder="Confirm Password" ng-model="create.cnf_pwd" class="form-control signup custm-control">
							</div>
							<!-- <span style="color:red;" ng-if="errMsg!=''">{{errMsg}}</span>
							<span style="color:green;" ng-if="errMsg=='' && succMsg!=''">{{succMsg}}</span> -->
							<div class="form-button" ng-click="signupClk()">
								<button class="btn btn-submit"> Get Started </button>
							</div>
						</div>
						<div class="form-button" g-login>
							<button class="btn btn-submit" style="background:#c5483e;"> Sign in with Google </button>
						</div>

						<div class="form-button" linked-in>
							<button class="btn btn-submit" style="background:#1b5480;"> Sign in with Linked In </button>
						</div>
								
						</div>
				</div>
			</div>
			</div>
		</div>
	</div>
</section>

<!-- <section class="reserach-paper-section">
		<div class="container">
			<p class="subtitle fancy"><span>An Integrated Legal Research Database</span></p>
			<div class="researchpaper-part">
				<div class="row">
					<div class="col-sm-4">
						<div class="research-block">
							<div class="research-block-content">
								<div style="text-align:center; color:#CB7A2F"> lacuna: (ləˈkjuːnə)</div>
								<div style="text-align:center; color:#CB7A2F">noun</div>
								<p style="text-align:center; color:#CB7A2F">interstices of knowledge; an unfilled space; a gap.</p>
								<p style="font-family: Arial, Helvetica, sans-serif;">Lawcunae is a website where anybody can access and annotate a primary text document and bring a second layer of information to it online. Make your study interactive and dynamic by accessing a backlog of Knowledge, Case History, Context and Applications for any Indian Statute or Judgement.</p>
							</div>
						</div>
					</div>
					<div class="col-sm-8">
						<div class="research-block">
							<img src="images/Lawcunae Network.JPG">
						</div>
					</div>
				</div>
			</div>

		</div>
</section> -->

<section class="trending-researchers-section">
		<div class="container">
			<p class="subtitle fancy"><span>An Integrated Legal Research Database</span></p>
			<div class="trending-cases-part">
				<div class="row">
					<div class="col-sm-4">
						<div class="research-block">
							<div class="research-block-content">
								<div style="text-align:center; color:#CB7A2F"> lacuna: (ləˈkjuːnə)</div>
								<div style="text-align:center; color:#CB7A2F">noun</div>
								<p style="text-align:center; color:#CB7A2F">interstices of knowledge; an unfilled space; a gap.</p>
								<p style="font-family: Arial, Helvetica, sans-serif;">Lawcunae is a website where anybody can access and annotate a primary text document and bring a second layer of information to it online. Make your study interactive and dynamic by accessing a backlog of Knowledge, Case History, Context and Applications for any Indian Statute or Judgement.</p>
							</div>
						</div>
					</div>
					<div class="col-sm-8">
						<div class="research-block">
							<img src="images/Lawcunae Network.JPG">
						</div>
					</div>
				</div>
			</div>
		</div>
</section>

<!-- <section class="reserach-paper-section">
		<div class="container">
			<p class="subtitle fancy"><span>Top Legal Research Paper</span></p>
			<div class="researchpaper-part">
				<div class="row">
					<div class="col-sm-7">
						<div class="research-block">
							<img src="images/modi.png">
							<div class="research-block-content">
								<div class="title">Title: Lorem ipsum dolor sit amet, consectetur adipiscing elit lacus</div>
								<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur at lacus fringilla, dictum augue imperdiet, ornare dui. In pretium mi nec velit fermentum lobortis a eu massa.
								</p>
								<div class="author">
									Author : John Smith
								</div>
							</div>
						</div>
						<div class="research-block">
							<img src="images/modi.png">
							<div class="research-block-content">
								<div class="title">Title: Lorem ipsum dolor sit amet, consectetur adipiscing elit lacus</div>
								<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur at lacus fringilla, dictum augue imperdiet, ornare dui. In pretium mi nec velit fermentum lobortis a eu massa.
								</p>
								<div class="author">
									Author : John Smith
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-5">
						<div class="research-block">
							<img src="images/modi1.png">
							<div class="research-block-content">
								<div class="title">Title: Lorem ipsum dolor sit amet, consectetur elit</div>
								<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur at lacus fringilla, dictum augue imperdiet, ornare dui.
								</p>
								<div class="author">
									Author : John Smith
								</div>
							</div>
						</div>
							<div class="research-block-content">
								<div class="title">Title: Lorem ipsum dolor sit amet, consectetur elit</div>
								<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur at lacus fringilla, dictum augue imperdiet, ornare dui.
								</p>
								<div class="author">
									Author : John Smith
								</div>
							</div>
							<div class="research-block-content block-separate">
								<div class="title">Title: Lorem ipsum dolor sit amet, consectetur elit</div>
								<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur at lacus fringilla, dictum augue imperdiet, ornare dui.
								</p>
								<div class="author">
									Author : John Smith
								</div>
							</div>
							<div class="research-block-content">
								<div class="title">Title: Lorem ipsum dolor sit amet, consectetur elit</div>
								<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur at lacus fringilla, dictum augue imperdiet, ornare dui.
								</p>
								<div class="author">
									Author : John Smith
								</div>
							</div>
					
					</div>
				</div>
			</div>

		</div>
</section>

<section class="trending-cases-section">
		<div class="container">
			<p class="subtitle fancy"><span>Trending Cases</span></p>
			<div class="trending-cases-part">
				<div class="row">
					<div class="col-sm-6">
						<div class="trending-block">
							<div class="calendar-map">
								<div class="trending-image">
									<img src="images/calendar.png">
								</div>
								<div class="trending-image">
									<img src="images/graph.png">
								</div>
							</div>
							<div class="trending-content">
								<div class="title">Title: Lorem ipsum dolor sit amet, consectetur elit</div>
								<p> <b> Subject </b>: Nunc turpis mauris, pulvinar in quam auctor </p>
								<p> <span><b> Citation:</b> 49.SCC.2017 </span><span><b>Court:</b>Supreme Court</span> </p>
								<p><b>  Summary: </b> Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
									Curabitur at lacus fringilla, dictum augue imperdiet, ornare dui. In 
									pretium mi nec velit fermentum lobortis a eu massa. </p>
							</div>
						</div>
						<div class="trending-block">
							<div class="calendar-map">
								<div class="trending-image">
									<img src="images/calendar.png">
								</div>
								<div class="trending-image">
									<img src="images/graph.png">
								</div>
							</div>
							<div class="trending-content">
								<div class="title">Title: Lorem ipsum dolor sit amet, consectetur elit</div>
								<p> <b> Subject </b>: Nunc turpis mauris, pulvinar in quam auctor </p>
								<p> <span><b> Citation:</b> 49.SCC.2017 </span><span><b>Court:</b>Supreme Court</span> </p>
								<p><b>  Summary: </b> Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
									Curabitur at lacus fringilla, dictum augue imperdiet, ornare dui. In 
									pretium mi nec velit fermentum lobortis a eu massa. </p>
							</div>
						</div>
						<div class="trending-block">
							<div class="calendar-map">
								<div class="trending-image">
									<img src="images/calendar.png">
								</div>
								<div class="trending-image">
									<img src="images/graph.png">
								</div>
							</div>
							<div class="trending-content">
								<div class="title">Title: Lorem ipsum dolor sit amet, consectetur elit</div>
								<p> <b> Subject </b>: Nunc turpis mauris, pulvinar in quam auctor </p>
								<p> <span><b> Citation:</b> 49.SCC.2017 </span><span><b>Court:</b>Supreme Court</span> </p>
								<p><b>  Summary: </b> Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
									Curabitur at lacus fringilla, dictum augue imperdiet, ornare dui. In 
									pretium mi nec velit fermentum lobortis a eu massa. </p>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="trending-block">
							<div class="calendar-map">
								<div class="trending-image">
									<img src="images/calendar.png">
								</div>
								<div class="trending-image">
									<img src="images/graph.png">
								</div>
							</div>
							<div class="trending-content">
								<div class="title">Title: Lorem ipsum dolor sit amet, consectetur elit</div>
								<p> <b> Subject </b>: Nunc turpis mauris, pulvinar in quam auctor </p>
								<p> <span><b> Citation:</b> 49.SCC.2017 </span><span><b>Court:</b>Supreme Court</span> </p>
								<p><b>  Summary: </b> Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
									Curabitur at lacus fringilla, dictum augue imperdiet, ornare dui. In 
									pretium mi nec velit fermentum lobortis a eu massa. </p>
							</div>
						</div>
						<div class="trending-block">
							<div class="calendar-map">
								<div class="trending-image">
									<img src="images/calendar.png">
								</div>
								<div class="trending-image">
									<img src="images/graph.png">
								</div>
							</div>
							<div class="trending-content">
								<div class="title">Title: Lorem ipsum dolor sit amet, consectetur elit</div>
								<p> <b> Subject </b>: Nunc turpis mauris, pulvinar in quam auctor </p>
								<p> <span><b> Citation:</b> 49.SCC.2017 </span><span><b>Court:</b>Supreme Court</span> </p>
								<p><b>  Summary: </b> Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
									Curabitur at lacus fringilla, dictum augue imperdiet, ornare dui. In 
									pretium mi nec velit fermentum lobortis a eu massa. </p>
							</div>
						</div>
						<div class="trending-block">
							<div class="calendar-map">
								<div class="trending-image">
									<img src="images/calendar.png">
								</div>
								<div class="trending-image">
									<img src="images/graph.png">
								</div>
							</div>
							<div class="trending-content">
								<div class="title">Title: Lorem ipsum dolor sit amet, consectetur elit</div>
								<p> <b> Subject </b>: Nunc turpis mauris, pulvinar in quam auctor </p>
								<p> <span><b> Citation:</b> 49.SCC.2017 </span><span><b>Court:</b>Supreme Court</span> </p>
								<p><b>  Summary: </b> Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
									Curabitur at lacus fringilla, dictum augue imperdiet, ornare dui. In 
									pretium mi nec velit fermentum lobortis a eu massa. </p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</section>

	<section class="trending-researchers-section">
		<div class="container">
			<p class="subtitle fancy"><span>Trending Researchers</span></p>
			<div class="trending-cases-part">
				<div class="row">
					<div class="col-sm-6">
						<div class="trending-block">
							<div class="calendar-map">
								<div class="user-image">
									<img src="images/researcher.png">
								</div>
								<div class="trending-image">
									<img src="images/graph.png">
								</div>
							</div>
							<div class="trending-content">
								<div class="title">Title: Lorem ipsum dolor sit amet, consectetur elit</div>
								<p> <b> Subject </b>: Nunc turpis mauris, pulvinar in quam auctor </p>
								<p> <span><b> Citation:</b> 49.SCC.2017 </span><span><b>Court:</b>Supreme Court</span> </p>
								<p><b>  Summary: </b> Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
									Curabitur at lacus fringilla, dictum augue imperdiet, ornare dui. In 
									pretium mi nec velit fermentum lobortis a eu massa. </p>
							</div>
						</div>
						<div class="trending-block">
							<div class="calendar-map">
								<div class="user-image">
									<img src="images/researcher.png">
								</div>
								<div class="trending-image">
									<img src="images/graph.png">
								</div>
							</div>
							<div class="trending-content">
								<div class="title">Title: Lorem ipsum dolor sit amet, consectetur elit</div>
								<p> <b> Subject </b>: Nunc turpis mauris, pulvinar in quam auctor </p>
								<p> <span><b> Citation:</b> 49.SCC.2017 </span><span><b>Court:</b>Supreme Court</span> </p>
								<p><b>  Summary: </b> Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
									Curabitur at lacus fringilla, dictum augue imperdiet, ornare dui. In 
									pretium mi nec velit fermentum lobortis a eu massa. </p>
							</div>
						</div>
						<div class="trending-block">
							<div class="calendar-map">
								<div class="user-image">
									<img src="images/researcher.png">
								</div>
								<div class="trending-image">
									<img src="images/graph.png">
								</div>
							</div>
							<div class="trending-content">
								<div class="title">Title: Lorem ipsum dolor sit amet, consectetur elit</div>
								<p> <b> Subject </b>: Nunc turpis mauris, pulvinar in quam auctor </p>
								<p> <span><b> Citation:</b> 49.SCC.2017 </span><span><b>Court:</b>Supreme Court</span> </p>
								<p><b>  Summary: </b> Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
									Curabitur at lacus fringilla, dictum augue imperdiet, ornare dui. In 
									pretium mi nec velit fermentum lobortis a eu massa. </p>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="trending-block">
							<div class="calendar-map">
								<div class="user-image">
									<img src="images/researcher.png">
								</div>
								<div class="trending-image">
									<img src="images/graph.png">
								</div>
							</div>
							<div class="trending-content">
								<div class="title">Title: Lorem ipsum dolor sit amet, consectetur elit</div>
								<p> <b> Subject </b>: Nunc turpis mauris, pulvinar in quam auctor </p>
								<p> <span><b> Citation:</b> 49.SCC.2017 </span><span><b>Court:</b>Supreme Court</span> </p>
								<p><b>  Summary: </b> Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
									Curabitur at lacus fringilla, dictum augue imperdiet, ornare dui. In 
									pretium mi nec velit fermentum lobortis a eu massa. </p>
							</div>
						</div>
						<div class="trending-block">
							<div class="calendar-map">
								<div class="user-image">
									<img src="images/researcher.png">
								</div>
								<div class="trending-image">
									<img src="images/graph.png">
								</div>
							</div>
							<div class="trending-content">
								<div class="title">Title: Lorem ipsum dolor sit amet, consectetur elit</div>
								<p> <b> Subject </b>: Nunc turpis mauris, pulvinar in quam auctor </p>
								<p> <span><b> Citation:</b> 49.SCC.2017 </span><span><b>Court:</b>Supreme Court</span> </p>
								<p><b>  Summary: </b> Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
									Curabitur at lacus fringilla, dictum augue imperdiet, ornare dui. In 
									pretium mi nec velit fermentum lobortis a eu massa. </p>
							</div>
						</div>
						<div class="trending-block">
							<div class="calendar-map">
								<div class="user-image">
									<img src="images/researcher.png">
								</div>
								<div class="trending-image">
									<img src="images/graph.png">
								</div>
							</div>
							<div class="trending-content">
								<div class="title">Title: Lorem ipsum dolor sit amet, consectetur elit</div>
								<p> <b> Subject </b>: Nunc turpis mauris, pulvinar in quam auctor </p>
								<p> <span><b> Citation:</b> 49.SCC.2017 </span><span><b>Court:</b>Supreme Court</span> </p>
								<p><b>  Summary: </b> Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
									Curabitur at lacus fringilla, dictum augue imperdiet, ornare dui. In 
									pretium mi nec velit fermentum lobortis a eu massa. </p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</section> -->
<!-- <footer class="custm-footer">
	<div class="container">
		<div class="footer-content">
			<p> © 2017 All Rights Reserved </p>
		</div>
	</div>
</footer> -->
		

<!-- Modal -->
  <div class="modal fade" id="forgot-pwd-modal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" style="border-bottom:0px;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Please enter your email</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
             <input type="text" class="form-control" placeholder="Email" ng-model="user.forgot_email">
          </div>
        </div>
        <div class="modal-footer" style="border-top:0px;">
          <button type="button" class="btn btn-default" ng-click="forgotSubmitClk()">Submit</button>
        </div>
      </div>

    </div>
  </div>