<!-- <div class="dx-warning work-space-tab hidden"> -->
<div class="dx-warning work-space-tab" id="docViewTop">
	<div class="clearfix">
<!-- <div id="chart">

  </div> -->
		<!-- Nav tabs -->
		<ul class="nav nav-tabs" role="tablist">
			<li ng-click="staticTabClick('homeTab', -1, 'home')" ng-class="{'active':activeTabIndex==-1}">
				<a>Home</a>
			</li>
			<!-- <li ng-click="staticTabClick('profileTab', -2, 'profile')" ng-class="{'active':activeTabIndex==-2}" ng-if="displayProfile">
				<a>Profile
					<span>
						<i class="fa fa-times" ng-click="closeProfileTab(-2)"></i>
					</span>
				</a>
			</li> -->
			<li ng-click="staticTabClick('adminTab', -9, 'admin')" ng-class="{'active':activeTabIndex==-9}" ng-if="displayAdmin" context-menu="context_div">
				<a>Admin
					<span>
						<i class="fa fa-times" ng-click="closeProfileTab(-9)"></i>
					</span>
				</a>
			</li>
			<li ng-click="staticTabClick('myActivityTab', -8, 'my_activity')" ng-class="{'active':activeTabIndex==-8}" ng-if="displayMyActivity" context-menu="context_div">
				<a>My Activity
					<span>
						<i class="fa fa-times" ng-click="closeProfileTab(-8)"></i>
					</span>
				</a>
			</li>
			<li ng-click="staticTabClick('citationTab', -3, 'citation')" ng-class="{'active':activeTabIndex==-3}" ng-if="displayCitation" context-menu="context_div">
				<a>Citation
					<span>
						<i class="fa fa-times" ng-click="closeProfileTab(-3)"></i>
					</span>
				</a>
			</li>
			<li ng-click="staticTabClick('uploadDocTab', -4, 'upload_doc')" ng-class="{'active':activeTabIndex==-4}" ng-if="displayUploadDoc" context-menu="context_div">
				<a>Upload document
					<span>
						<i class="fa fa-times" ng-click="closeProfileTab(-4)"></i>
					</span>
				</a>
			</li>
			<li ng-click="staticTabClick('draftListTab', -5, 'draft_list')" ng-class="{'active':activeTabIndex==-5}" ng-if="displayDraftList" context-menu="context_div">
				<a>Draft List
					<span>
						<i class="fa fa-times" ng-click="closeProfileTab(-5)"></i>
					</span>
				</a>
			</li>
			<li ng-click="staticTabClick('draftEditorTab', -6, 'draft_editor')" ng-class="{'active':activeTabIndex==-6}" ng-if="displayDraftEditor" context-menu="context_div">
				<a>Draft Editor
					<span>
						<i class="fa fa-times" ng-click="closeProfileTab(-6)"></i>
					</span>
				</a>
			</li>
			<li ng-click="staticTabClick('paymentHistoryTab', -7, 'payment_history')" ng-class="{'active':activeTabIndex==-7}" ng-if="displayPaymentHistory" context-menu="context_div">
				<a>Payment History
					<span>
						<i class="fa fa-times" ng-click="closeProfileTab(-7)"></i>
					</span>
				</a>
			</li>
			<!-- <li ng-click="staticTabClick('caseViewerTab', -4, 'caseViewer')" ng-class="{'active':activeTabIndex==-4}">
				<a>Case Viewer</a>
			</li> -->
			<li ng-repeat="tab in tabArr" ng-class="{'active':activeTabIndex==$index}" ng-mouseover="hoverIn($index)" ng-mouseleave="hoverOut($index)" ng-click="tabClick($index)" context-menu="context_div">
				<a>{{tab.titleName}}
					<span>
						<i class="fa fa-thumb-tack" ng-class="{'fa-thumb-tack':!tab.pinned,'fa-link':tab.pinned}" ng-if="tab.pinIcon" ng-click="pinUnpin($index)"></i>
					</span>
					<span>
						<i class="fa fa-times" ng-if="tab.closeIcon" ng-click="closeTab($index)"></i>
					</span>
				</a>
			</li>
			<!-- <li ng-click="addTab()"><a>{{tab.name}}<span><i class="fa fa-plus"></i></span></a></li> -->
		</ul> 

		<!-- Tab panes -->
		<div class="tab-content " ng-class="{'case-viewer-content':tabType=='caseViewerTab', 'custm-content':tabType!='caseViewerTab'}">
			<div role="tabpanel" class="tab-pane active">

				<div ng-class="{'user-profile-block':tabType=='profileTab', 'citation-folder-block':tabType=='citationTab', 'feist-rural-content':tabType=='documentTab'}">
					<div ui-view="tabContent"></div>
				</div>

			<!-- <div class="row" ng-if="tabType=='caseViewerTab'">

			</div> -->
			
			<!-- <div ng-if="tabType=='homeTab'">
				
			</div> -->
				
			<!-- User-profile-block Start -->
			<!-- <div class="user-profile-block" ng-if="tabType=='profileTab'">
				
			</div> -->
			<!-- User-profile-block End -->

			<!-- Citation tab start -->

			<!-- <div class="citation-folder-block" ng-if="tabType=='citationTab'">
				
			</div> -->

			<!-- Citation tab end -->

				<div class="feist-rural-content" ng-if="tabType=='noTab'" style="min-height:600px;"></div>
				<!-- <div class="feist-rural-content" ng-if="tabType=='documentTab'">
					
				</div>  -->
				
				<!-- <div ng-if="tabType=='searchTab'">
					
				</div> -->
			</div>
		</div>

	</div>
</div>