<header class="header-no-space">
	<nav class="navbar navbar-default custom-navbar">
		<div class="container">
			<ul class="nav navbar-nav header-menu">
				<li class=""><a href="#joinnow-modal" target="_self" data-toggle="modal" data-target="#joinnow-modal">About Us</a></li>
				<li><a href="#">Contact Us</a></li>
				<li><a href="#">Law Theory Pages</a></li>
				<li ng-click="topTabClk('pricing')"><a href="#">Pricing</a></li>
			</ul>
		</div>
	</nav>
</header>
<div ui-view="landingPageContent"></div>

<!-- =========Join now Modal======== -->
<div id="joinnow-modal" class="modal fade global-modal3" >
	<div class="modal-dialog modal-md">
	<!-- Modal content-->
	<div class="modal-content">
		<div class="modal-header">
			<!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
			<h4 class="modal-title">Acces the most advanced legal research tool ever</h4>
		</div>
		<div class="modal-body join-now-body">
			<div class="custom-slider-block">
				<div id="myCarousel" class="carousel slide" data-ride="carousel">
				<!-- Indicators -->
				<ol class="carousel-indicators">
					<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#myCarousel" data-slide-to="1"></li>
					<li data-target="#myCarousel" data-slide-to="2"></li>
					<li data-target="#myCarousel" data-slide-to="3"></li>
				</ol>
				<!-- Wrapper for slides -->
				<div class="carousel-inner">
					<div class="item active">
						<div class="slider-info">
							<div class="slide-img">
							<img src="images/feature1-active.png"/>
							</div>
							<h4>Academic Legal Search Engine</h4>
							<p>Never loose track of your research</p>
						</div>
					</div>
					<div class="item">
						<div class="slider-info">
							<div class="slide-img">
							<img src="images/feature2-active.png"/>
							</div>
							<h4>Superior 5D Search Analytics</h4>
							<p>The most advanced graphical interface and meta-data analytics tool</p>
						</div>
					</div>
					<div class="item">
						<div class="slider-info">
							<div class="slide-img">
							<img src="images/feature3.png"/>
							</div>
							<h4>Drafting Workstation</h4>
							<p>Draft & collaborate with a community of proffessionals</p>
						</div>
					</div>
					<div class="item">
						<div class="slider-info">
							<div class="slide-img">
							<img src="images/feature4-active.png"/>
							</div>
							<h4>User Profiles & Lawcunae IQ</h4>
							<p>Earn lawcunae IQ and highlight your research profile</p>
						</div>
					</div>
				</div>
				</div>
			</div>
			<a href="" class="btn btn-submit join-now-btn">Join Now</a>
			<p class="code-info">Use code <strong class="green-color">“TRIAL”</strong> for a free 3 months subscription</p>
		</div>
	</div>
	</div>
</div>
