<div class="row">
    <div class="col-sm-12">
        <div class="gloabl-box profile-tab-block">
            <ul class="nav nav-tabs">
                <li class="active" style="width:19.5%; text-align:center;" ng-click="tabClick('indian_kanoon_new')">
                    <a data-toggle="tab" href="" aria-expanded="true">Document Viewer</a>
                </li>
                <li style="width:15%; text-align:center;" ng-click="tabClick('lawcunae_case')">
                    <a data-toggle="tab" href="" aria-expanded="true">Case Viewer</a>
                </li>
                <li style="width:15%; text-align:center;" ng-click="tabClick('lawcunae_article')">
                    <a data-toggle="tab" href="" aria-expanded="true">Article Viewer</a>
                </li>
                <li style="width:15%; text-align:center;">
                    <a data-toggle="tab" href="" aria-expanded="true">ACT</a>
                </li>
                <li style="width:15%; text-align:center;" ng-click="tabClick('lawcunae_user')">
                    <a data-toggle="tab" href="" aria-expanded="true">Users</a>
                </li>
                <li style="width:15%; text-align:center;" ng-click="tabClick('payment')">
                    <a data-toggle="tab" href="" aria-expanded="true">Payment History</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <div class="form-group">
            <label>Search keyword</label>
            <input type="text" class="form-control" placeholder="Search with keyword" ng-model="filter.search">
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <label>From</label>
            <input type="text" class="form-control calendar_icn selectDate" id="fromfilterDate" placeholder="From">
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <label>To</label>
            <input type="text" class="form-control calendar_icn selectDate" id="tofilterDate" placeholder="To">
        </div>
    </div>
    
</div>

<div class="row">
    <div class="col-sm-6" ng-show="tabType == 'indian_kanoon_new'">
        <label>Court</label>
        <div class="form-group">
            <select class="court_admin" name="states[]" multiple="multiple"></select>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="button-box">
			<button class="btn btn-primary" ng-click="filterList()">Search</button>
		</div>
    </div>
</div>

<div class="search-result-innerbox" ng-repeat="doc in adminDocList" ng-if="tabType == 'indian_kanoon_new'">
    <h4 style="border-bottom: 0;">
        <a href=""><img src="images/checked.png" ng-if="doc._source.isVerified == 'true' || doc._source.isVerified == true"></a>
        <span ng-mouseover="docListTitle={'cursor': 'pointer','text-decoration': 'underline'}" ng-mouseleave="docListTitle={}" ng-style="docListTitle" ng-click="documentClk(doc, 'doc')">{{doc._source.title}}</span> 
        <a>
            <select>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </a>
        <a style="float:right;" ng-click="deleteDoc($index, doc, 'deleteDocument', 'documentId')"><i class="fa fa-trash"></i></a>
        <input type="checkbox" style="float:right;" ng-model="doc._source.isVerified" ng-checked="doc._source.isVerified == 'true' || doc._source.isVerified == true" ng-change="verifyDocs(doc, 'verifyDocument', 'documentId')">
    </h4>
    <div class="border-botm">
        <ul><li>{{doc._source.courtName}}</li></ul>
        <div class="topic-box clearfix" ng-if="doc._source.citation!='' && doc._source.citation!=undefined">
			<label>Citation : </label> {{doc._source.citation}}
		</div>
        <div class="topic-box clearfix">
			<div class="left" ng-if="doc._source.tags.length>0">
				<label>Topics: </label>
				<span ng-repeat="topic in doc._source.tags"><span ng-if="$index!=0"> , </span>{{topic}}</span>
			</div>
		</div>
	</div>
</div>
<div class="search-result-innerbox" ng-repeat="doc in adminDocList" ng-if="tabType == 'lawcunae_case'">
    <h4>
        <a href=""><img src="images/checked.png" ng-if="doc._source.isVerified == 'true' || doc._source.isVerified == true"></a> 
        <span ng-mouseover="docListTitle={'cursor': 'pointer','text-decoration': 'underline'}" ng-mouseleave="docListTitle={}" ng-style="docListTitle" ng-click="documentClk(doc, 'case')">{{doc._source.title}}</span>
        <a>
           <select>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </a>
        <a style="float:right;" ng-click="deleteDoc($index, doc, 'deleteCase', 'caseId')"><i class="fa fa-trash"></i></a>
        <input type="checkbox" style="float:right;" ng-model="doc._source.isVerified" ng-checked="doc._source.isVerified == 'true' || doc._source.isVerified == true" ng-change="verifyDocs(doc, 'verifyCase', 'caseId')">
    </h4>
</div>
<div class="search-result-innerbox" ng-repeat="doc in adminDocList" ng-if="tabType == 'lawcunae_article'">
    <h4 style="border-bottom: 0;">
        <a href=""><img src="images/checked.png" ng-if="doc._source.isVerified == 'true' || doc._source.isVerified == true"></a> 
        <span ng-mouseover="docListTitle={'cursor': 'pointer','text-decoration': 'underline'}" ng-mouseleave="docListTitle={}" ng-style="docListTitle" ng-click="documentClk(doc, 'article')">{{doc._source.title}}</span>
        <a>
            <select>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </a>
        <a style="float:right;" ng-click="deleteDoc($index, doc, 'deleteArticle', 'articleId')"><i class="fa fa-trash"></i></a>
        <input type="checkbox" style="float:right;" ng-model="doc._source.isVerified" ng-checked="doc._source.isVerified == 'true' || doc._source.isVerified == true" ng-change="verifyDocs(doc, 'verifyArticle', 'articleId')">
    </h4>
    <div class="border-botm">
        <div class="topic-box clearfix" ng-if="doc._source.citation!='' && doc._source.citation!=undefined">
			<label>Author : </label> {{doc._source.author_name}}
        </div>
        <div class="topic-box clearfix">
			<div class="left" ng-if="doc._source.tags.length>0">
				<label>Topics: </label>
				<span ng-repeat="topic in doc._source.tags"><span ng-if="$index!=0"> , </span>{{topic}}</span>
			</div>
		</div>
	</div>
</div>
<div class="search-result-innerbox" ng-repeat="doc in adminDocList" ng-if="tabType == 'lawcunae_user'">
    <h4>
        <!-- <a href=""><img src="images/checked.png" ng-if="doc._source.isVerified == 'true' || doc._source.isVerified == true"></a>  -->
        <span ng-mouseover="docListTitle={'cursor': 'pointer','text-decoration': 'underline'}" ng-mouseleave="docListTitle={}" ng-style="docListTitle" ng-click="documentClk(doc, 'user')">{{doc.profile.first_name}}</span>
        <a style="float:right;" ng-click="deleteDoc($index, doc, 'deleteUser', 'userId')"><i class="fa fa-trash"></i></a>
        <!-- <input type="checkbox" style="float:right;" ng-model="doc._source.isVerified" ng-change="verifyDocs(doc, 'verifyUser', 'userId')"> -->
        <a style="float:right;" ng-mouseover="admin={'cursor': 'pointer','text-decoration': 'underline'}" ng-mouseleave="admin={}" ng-style="admin">
            <span ng-click="makeAdmin(doc, true)" ng-if="doc.profile.isAdmin!='true' && doc.profile.isAdmin!=true">Admin</span>
            <span ng-click="makeAdmin(doc, false)" ng-if="doc.profile.isAdmin==true || doc.profile.isAdmin=='true'">Remove as Admin</span>
        </a>
    </h4>
</div>
<div ng-repeat="doc in adminDocList" ng-if="tabType == 'payment'">
    <div class="search-result-innerbox" ng-repeat="payment in doc.payment" ng-if="tabType == 'payment'">
        <h4 style="border-bottom: 0;">{{doc.profile.first_name}}</h4>
        <div class="border-botm">
            <div class="topic-box clearfix">
                <label>From: </label>
                <span>{{payment.validity_from | date : 'd/M/yyyy'}}</span>
                <label>To: </label>
				<span>{{payment.validity_to | date : 'd/M/yyyy'}}</span>
            </div>
        </div>
    </div>
</div>

<div class="pagination-right">
	<ul class="pagination">
		<li ng-if="totalPage.length>10" ng-click="changePageArrow('prev')"><a href="" target="_self"><i class="fa fa-arrow-left" aria-hidden="true"></i></a></li>
		<li ng-class="{'active':activeSearchPage==($index+pageLimitIndex)}" ng-repeat="page in totalPage | limitTo:10 track by $index" ng-if="($index+pageLimitIndex) <= totalPage.length" ng-click="changePage($index+pageLimitIndex)"><a href="" target="_self" >{{$index+pageLimitIndex}}</a></li>
		<li ng-if="totalPage.length>10" ng-click="changePageArrow('next')"><a href="" target="_self"><i class="fa fa-arrow-right" aria-hidden="true"></i></a></li>
	</ul>
</div>