<div class="top-search-block">
    <form class="global-search-form">
        <input type="text" class="form-control"/>
        <button type="submit" class="btn global-form-submit"><i class="fa fa-search"></i></button>
    </form>
</div>
<div class="top-search-block">
    <form class="global-search-form">
        <button type="submit" class="btn global-form-submit" style="width:100px;" ng-click="addDraft()">Add Draft</button>
    </form>
</div>

<div class="folder-structure-block">
    <h4>Folder</h4>
    <div class="folder-block" ng-repeat="draft in draftList" ng-click="draftClk(draft)">
        <i class="fa fa-folder" aria-hidden="true"></i>{{draft.title}}
    </div>
</div>