<header class="navbar user-info-navbar navbar-fixed-top"  role="navigation" >
	<nav class="logo-env"><!-- User Info, Notifications and Menu Bar -->
					<!-- logo -->
					<div class="logo">
						<a href="" class="logo-expanded">
							<img src="images/logo@2x.png" width="" alt="" />
						</a>
		
						<a href="dashboard-1.html" class="logo-collapsed" style="display:none;">
							<img src="images/logo-collapsed@2x.png" width="40" alt="" />
						</a>
					</div>
					<ul class="user-info-menu left-links list-inline list-unstyled middle-form hide-mob">			
						<li class="search-form"><!-- You can add "always-visible" to show make the search input visible -->
							
							<form class="form-inline nav-search-form">
								<!-- <label>Begin your research journey here...</label> -->
								<div class="nav-search-form-inner">
								  <div class="form-group key-search-field">
									<input type="text" class="form-control" ng-model="searchVal" placeholder="Search by keywords"  ng-keyup="$event.keyCode === 13 && searchDocument()">
								  </div>
								  <div class="form-group key-select-field">
									<select class="form-control" ng-model="selectType">
									  <option value="default">Everywhere</option>
									  <option value="india_kanoon_new">Documents</option>
									  <option value="lawcunae_case">Cases</option>
									  <option value="lawcunae_user">Users</option>
									</select>
								  </div>
								  <button type="button" class="btn nav-form-submit" ng-click="searchDocument()"><i class="fa fa-search"></i></button>
									<!-- <input type="button" class="btn btn-default" ng-click="searchDocument()"> -->
								 </div>
								 <!-- <label><a href="">Advanced Search</a></label> -->
							</form>
				
						</li>
						
					</ul>
		
					
				<!-- Right links for user info navbar -->
				<ul class="user-info-menu right-links list-inline list-unstyled clearfix">
					<li class="dropdown hover-line">
							<!-- <a href="#" target="_self" class="dropdown-toggle" data-toggle="dropdown" ng-click="notiIconClk()">
								<i class="fa-bell-o"></i>
								<span class="badge badge-purple">7</span>
							</a>  -->
				
							<button class="btn btn-noti" ng-click="notiIconClk()">
								<i class="fa-bell-o"></i>
								<span class="badge badge-purple">{{notiCnt}}</span>
							</button>

							 <ul class="dropdown-menu notifications">
								<li class="top">
									<p class="small">
										<a href="" target="_self" class="pull-right" ng-click="readNoti('')">Mark all Read</a>
										You have <strong>{{notiCnt}}</strong> new notifications.
									</p>
								</li>
								
								<li>
									<!-- <ul class="dropdown-menu-list list-unstyled ps-scrollbar"> -->
									<ul class="dropdown-menu-list list-unstyled">
										<li class="notification-success" ng-repeat="notification in notiList" ng-class="{'active':!notification.read}" ng-click="readNoti(notification)">
											<a href="" target="_self">
												<i class="fa-user"></i>
												
												<span class="line">
													<strong>{{notification.type}}</strong>
												</span>
												
												<span class="line small time">
													30 seconds ago
												</span>
											</a>
										</li>
									</ul>
								</li>
								
								<!-- <li class="external">
									<a href="#">
										<span>View all notifications</span>
										<i class="fa-link-ext"></i>
									</a>
								</li> -->
							</ul> 
						</li>
			
					<li class="dropdown user-profile">
						<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
							<img ng-src="{{user_info.profile.image}}" class="img-circle img-inline userpic-32" width="44" />
							<span>
								<span class="header-name">{{user_info.profile.first_name}} {{user_info.profile.middle_name}} {{user_info.profile.last_name}}</span>
								<i class="fa-angle-down"></i>
							</span>
						</a>
			
						<ul class="dropdown-menu user-profile-menu list-unstyled" style="z-index:2000000 !important;">
							<li>
								<a href="javascript:void(0);">
									<i class="fa-edit"></i>
									New Post
								</a>
							</li>
							<li>
								<a href="javascript:void(0);">
									<i class="fa-wrench"></i>
									Settings
								</a>
							</li>
							<li ng-click="upperMenuClk('profileTab', -2, 'profile')">
								<a href="javascript:void(0);">
									<i class="fa-user"></i>
									Profile
								</a>
							</li>
							<li ng-click="upperMenuClk('paymentHistoryTab', -7, 'payment_history')">
								<a href="javascript:void(0);">
									<i class="fa-user"></i>
									Payment History
								</a>
							</li>
							<li>
								<a href="javascript:void(0);">
									<i class="fa-info"></i>
									Help
								</a>
							</li>
							<li class="last" ng-click="upperMenuClk('logout')">
								<a href="javascript:void(0);">
									<i class="fa-lock"></i>
									Logout
								</a>
							</li>
						</ul>
					</li>
				</ul>
			 
			 <!-- Search Form Mobile View- -->
			    <form class="form-inline nav-search-form hide-large">
								<!-- <label>Begin your research journey here...</label> -->
								<div class="nav-search-form-inner">
								  <div class="form-group key-search-field">
									<!-- <input type="text" class="form-control" id="" placeholder="Search by keywords"> -->
									<input type="text" class="form-control" ng-model="searchVal" placeholder="Search by keywords"  ng-keyup="$event.keyCode === 13 && searchDocument()">
								  </div>
								  <div class="form-group key-select-field">
									<select class="form-control" ng-model="selectType">
									  <option value="default">Everywhere</option>
									  <option value="india_kanoon_new">Documents</option>
									  <option value="lawcunae_case">Cases</option>
									  <option value="lawcunae_user">Users</option>
									</select>
								  </div>
								  <!-- <button type="submit" class="btn nav-form-submit"><i class="fa fa-search"></i></button> -->
									<button type="button" class="btn nav-form-submit" ng-click="searchDocument()"><i class="fa fa-search"></i></button>
								</div>
								 <!-- <label><a href="">Advanced Search</a></label> -->
							</form>
			 <!-- ----Search Form Mobile View-------- -->
			 
			</nav>
		</header>

<div class="page-container page-container2"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->
		
	<!-- Add "fixed" class to make the sidebar fixed always to the browser viewport. -->
	<!-- Adding class "toggle-others" will keep only one menu item open at a time. -->
	<!-- Adding class "collapsed" collapse sidebar root elements and show only icons. -->
	<div class="sidebar-menu sidebar-menu-collapse">
	
		<div class="sidebar-menu-inner">
								
			<ul id="main-menu" class="main-menu">
				<!-- add class "multiple-expanded" to allow multiple submenus to open -->
				<!-- class "auto-inherit-active-class" will automatically add "active" class for parent elements who are marked already with class "active" -->
				
				<div class="btn-toggle-block">
					<button class="btn-toggle"><i class="fa-bars"></i></button>
				</div>
						<!-- <a href="#" class="btn-icon-standalone text-right" data-toggle="sidebar">
				
							<i class="fa-bars"></i>
						</a> -->
				
				<!-- <li class="active opened active">
					<a href="" target="_self">
						<i class=""><img src="images/dashboard-icon.png"></i>
						<span class="title">Dashboard</span>
					</a>
				</li> -->
				<li ng-click="leftSideMenuClk('myActivityTab', -8, 'my_activity')">
					<a href="" target="_self">
						<i class=""><img src="images/activity-icon.png"> </i>
						<span class="title">My Activity</span>
					</a>
				</li>
				<li>
					<a href="" target="_self">
						<i class=""><img src="images/annotation-icon.png"> </i>
						<span class="title">Annotations</span>
					</a>
				</li>
				<!-- <li> 
					<a href="" target="_self">
						<i class=""><img src="images/tags-icon.png"> </i>
						<span class="title">Tags</span>
					</a>
				</li> -->
				<li ng-click="leftSideMenuClk('citationTab', -3, 'citation')">
					<a href="" target="_self">
						<i class=""><img src="images/citiation-icon.png"> </i>
						<span class="title">Citations</span>
					</a>
				</li>
				<li>
					<a href="#">
						<i class=""><img src="images/workbook-icon.png"> </i>
						<span class="title">Client Workbook</span>
					</a>
					<ul>
						<li>
							<a href="#">
								<i class="entypo-flow-line"></i>
								<span class="title">Menu Level 1.1</span>
							</a>
							<ul>
								<li>
									<a href="#">
										<i class="entypo-flow-parallel"></i>
										<span class="title">Menu Level 2.1</span>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="entypo-flow-parallel"></i>
										<span class="title">Menu Level 2.2</span>
									</a>
									<ul>
										<li>
											<a href="#">
												<i class="entypo-flow-cascade"></i>
												<span class="title">Menu Level 3.1</span>
											</a>
										</li>
										<li>
											<a href="#">
												<i class="entypo-flow-cascade"></i>
												<span class="title">Menu Level 3.2</span>
											</a>
											<ul>
												<li>
													<a href="#">
														<i class="entypo-flow-branch"></i>
														<span class="title">Menu Level 4.1</span>
													</a>
												</li>
											</ul>
										</li>
									</ul>
								</li>
								<li>
									<a href="#">
										<i class="entypo-flow-parallel"></i>
										<span class="title">Menu Level 2.3</span>
									</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#">
								<i class="entypo-flow-line"></i>
								<span class="title">Menu Level 1.2</span>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="entypo-flow-line"></i>
								<span class="title">Menu Level 1.3</span>
							</a>
						</li>
					</ul>
				</li>
				<li ng-click="leftSideMenuClk('uploadDocTab', -4, 'upload_doc')"> 
					<a href="" target="_self">
						<i class=""><img src="images/upload.png"> </i>
						<span class="title">Upload Document</span>
					</a>
				</li>
				<li ng-click="leftSideMenuClk('draftListTab', -5, 'draft_list')"> 
					<a href="" target="_self">
						<i class=""><img src="images/upload.png"> </i>
						<span class="title">Draft List</span>
					</a>
				</li>
				<li ng-click="leftSideMenuClk('adminTab', -9, 'admin')"> 
					<a href="" target="_self">
						<i class=""><img src="images/admin.png"> </i>
						<span class="title">Admin</span>
					</a>
				</li>
				<li ng-click="leftSideMenuClk('addCaseModal')"> 
					<a href="" target="_self">
						<i class=""><img src="images/upload.png"> </i>
						<span class="title">Add Case</span>
					</a>
				</li>
			</ul>
			
		</div>
	
	</div>

	<div class="main-content main-content-collapse">
		<div ui-view="sideMenuContent"></div>
		
			<!-- FIRAC Multiple Accordian Start -->
				 
				 <div class="firac-accordian-block commonsidewidth" id="firac-accordian-block" style="z-index:9;">
				  
						<div class="panel-group">
									<!-- Panel One Start -->
										<div class="panel panel-default" ng-repeat="paragraph in getParaComm.paragraphs | orderBy:'paragraph_number'">
										<div class="panel-heading">
											<h4 class="panel-title">
												<a data-toggle="collapse" target="_self" data-parent="#accordion" href="#para{{$index}}" ng-class="{'collapsed':!paragraph.collapse}" ng-click="paraExpand(getParaComm.document_id, paragraph, 'para'+$index)"> 
												<!-- <a data-toggle="collapse" data-parent="#accordion" ng-click="openAccordion1($index)"> -->
												<span class="outercount">{{paragraph.paragraph_number}}.</span>
												<div class="panel-title-inner"><span>{{paragraph.annotations.length}} Annotations</span>, <span>6 Tags</span></div>
												</a>
											</h4>
										</div><!--/.panel-heading -->
											<div id="para{{$index}}" class="panel-collapse collapse" ng-class="{'in':paragraph.collapse}"> 
											<!-- <div class="panel-collapse collapse" ng-class="{'in':paragraph.openAccordion1}"> -->
											<div class="panel-body">
												<div class="firac-form-block">
												<a href="javascript:void(0);" class="addinsight" ng-click="addAnnot(paragraph)">Add Annotation</a>
												<form class="firac-form">
												<div class="form-group">
													<input type="text" class="form-control" ng-model="paragraph.addAnnoTitle" placeholder="Your title goes here..."/>
												</div>
												<div class="form-group">
													<textarea id="para{{paragraph.paragraph_id}}" class="form-control" ng-model="paragraph.addAnnoDesc" placeholder="Write your annotation" ></textarea>
												</div>
													<div class="form-group">
														<select class="annot_select2" name="states[]" multiple="multiple"></select>
														<!-- <div class="input-tag-block">
															<span class="custom-tag light-red-bg">Design<i class="fa fa-close closetag"></i></span>
															<span class="custom-tag dark-blue-bg">UI Design<i class="fa fa-close closetag"></i></span> 
														</div> -->
												</div>
												
												<button class="btn btn-submit" type="submit" ng-click="submitAnnotation(paragraph)">Submit</button>
												</form>
												</div>
												
												
												<div class="panel panel-default">
													<div ng-repeat="annotation in  paragraph.annotations">
												<div class="panel-heading">
														<h4 class="panel-title">
															<a data-toggle="collapse" data-parent="#nested" target="_self" href="#{{annotation._id}}">
																<span class="panelusername">{{annotation.user_id.user_name}}</span>
																<span class="lavel-img"><img src="images/lavel.png"/>245</span>
																
															</a>
															<span class="lavel-img">
																<img src="images/thumb-up.png" ng-class="{'like_dislike':annotation.like==true}" ng-click="likeAnnotation($event, getParaComm.document_id, paragraph._id, paragraph.paragraph_id, annotation, true)" />
																<span>{{annotation.likeCount}}</span>
															</span>
															<span class="lavel-img">
																<img src="images/thumb-down.png" ng-class="{'like_dislike':annotation.like==false}" ng-click="likeAnnotation($event, getParaComm.document_id, paragraph._id, paragraph.paragraph_id, annotation, false)" />
																<span>{{annotation.disLikeCount}}</span>
															</span>
														</h4>
												</div>
												<div id="{{annotation._id}}" class="panel-collapse collapse in">
													<div class="panel-body">
														<div class="comment-block clearfix">
														
														<div class="comment-right">{{annotation.title}}</div>
														</div>
														<div class="panel-body-inner">
															
															<p class="annot_desc copy_citation" ng-bind-html="trustAsHtml(annotation.text)" dynamic="annotation.text"></p>
															<button class="btn replybtn" ng-click="replyStatusBtn(annotation)">Reply</button>
															<div class="reply-comment-box" ng-if="annotation.showAnnotReply">
																<textarea class="form-control" ng-model="annotation.replyTextVal"></textarea>
																<button class="btn btn-inverse" ng-click="commentComment(getParaComm.document_id, paragraph._id, paragraph.paragraph_id, annotation._id, [], annotation)">Reply</button>
															</div>
														</div>
													
													<div class="panel panel-default">
														<div ng-repeat="comment in  annotation.comments">
															<div class="panel-heading">
																<h4 class="panel-title">
																	<a data-toggle="collapse" target="_self" data-parent="#nested" href="#{{comment._id}}">
																		<span class="panelusername">{{comment.user_id.user_name}}</span>
																		<span class="lavel-img"><img src="images/lavel.png"/>245</span>
																	</a>
																</h4>
															</div>
															<div id="{{comment._id}}" class="panel-collapse collapse in">
																<div class="panel-body">
																	
																	<div class="panel-body-inner">
																	
																		<p>{{comment.comment_text}}</p>
																		
																		<button class="btn replybtn" ng-click="replyStatusBtn(comment)">Reply</button>
																		<div class="reply-comment-box" ng-if="comment.showAnnotReply">
																			<textarea class="form-control" ng-model="comment.replyTextVal"></textarea>
																			<button class="btn btn-inverse" ng-click="commentComment(getParaComm.document_id, paragraph._id, paragraph.paragraph_id, annotation._id, [comment._id], comment)">Reply</button>
																		</div>

																		<!--2nd level comment-->

																		<div class="panel panel-default">
																			<div ng-repeat="comment2 in  comment.comments">
																				<div class="panel-heading">
																					<h4 class="panel-title">
																						<a data-toggle="collapse" target="_self" data-parent="#nested" href="#{{comment2._id}}">
																							<span class="panelusername">{{comment2.user_id.user_name}}</span>
																							<span class="lavel-img"><img src="images/lavel.png"/>245</span>
																						</a>
																					</h4>
																				</div>
																				<div id="{{comment2._id}}" class="panel-collapse collapse in">
																					<div class="panel-body">
																						
																						<div class="panel-body-inner">
																						
																							<p>{{comment2.comment_text}}</p>
																							
																							<button class="btn replybtn" ng-click="replyStatusBtn(comment2)">Reply</button>
																							<div class="reply-comment-box" ng-if="comment2.showAnnotReply">
																								<textarea class="form-control" ng-model="comment2.replyTextVal"></textarea>
																								<button class="btn btn-inverse" ng-click="commentComment(getParaComm.document_id, paragraph._id, paragraph.paragraph_id, annotation._id, [comment._id, comment2._id], comment2)">Reply</button>
																							</div>

																							<!--3rd level comment-->

																							<div class="panel panel-default">
																								<div ng-repeat="comment3 in  comment2.comments">
																									<div class="panel-heading">
																										<h4 class="panel-title">
																											<a data-toggle="collapse" target="_self" data-parent="#nested" href="#{{comment3._id}}">
																												<span class="panelusername">{{comment3.user_id.user_name}}</span>
																												<span class="lavel-img"><img src="images/lavel.png"/>245</span>
																											</a>
																										</h4>
																									</div>
																									<div id="{{comment3._id}}" class="panel-collapse collapse in">
																										<div class="panel-body">
																											
																											<div class="panel-body-inner">
																											
																												<p>{{comment3.comment_text}}</p>
																												
																												<button class="btn replybtn" ng-click="replyStatusBtn(comment3)">Reply</button>
																												<div class="reply-comment-box" ng-if="comment3.showAnnotReply">
																													<textarea class="form-control" ng-model="comment3.replyTextVal"></textarea>
																													<button class="btn btn-inverse" ng-click="commentComment(getParaComm.document_id, paragraph._id, paragraph.paragraph_id, annotation._id, [comment._id, comment2._id, comment3._id], comment3)">Reply</button>
																												</div>



																												<!--4th level comment-->
																												
																												<div class="panel panel-default">
																													<div ng-repeat="comment4 in  comment3.comments">
																														<div class="panel-heading">
																															<h4 class="panel-title">
																																<a data-toggle="collapse" target="_self" data-parent="#nested" href="#{{comment4._id}}">
																																	<span class="panelusername">{{comment4.user_id.user_name}}</span>
																																	<span class="lavel-img"><img src="images/lavel.png"/>245</span>
																																</a>
																															</h4>
																														</div>
																														<div id="{{comment4._id}}" class="panel-collapse collapse in">
																															<div class="panel-body">
																																
																																<div class="panel-body-inner">
																																
																																	<p>{{comment4.comment_text}}</p>
																																	<!--reply level end-->


																																	<!-- <button class="btn replybtn" ng-click="replyStatusBtn(comment3)">Reply</button>
																																	<div class="reply-comment-box" ng-if="comment3.showAnnotReply">
																																		<textarea class="form-control" ng-model="comment3.replyTextVal"></textarea>
																																		<button class="btn btn-inverse" ng-click="commentComment(getParaComm.document_id, paragraph._id, paragraph.paragraph_id, annotation._id, [comment._id, comment2._id, comment3._id], comment3)">Reply</button>
																																	</div> -->


																																	
																																</div>
																															</div>
																														</div>
																													</div>
																												</div>




																												
																											</div>
																										</div>
																									</div>
																								</div>
																							</div>


																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
													</div>
													</div>
														
													</div>
													</div>
														</div>
												</div>
												
											
												
											</div>
										</div>
										</div>
										
										<!-- Panel One End -->
					
					</div><!-- /.panel-group -->
				   
				 </div>
				
				<!-- FIRAC Multiple Accordian 1 End -->
				
				
				<!--  Annoation Sidebar End-->
				
				<div class="firac-accordian-block annoation-sidebar-block commonsidewidth" id="annoation-sidebar-block">
				<!-- Annotation-filter Start -->
					<div class="annotation-filter">
					     <div class="input-group" id="adv-search">
							<input type="text" class="form-control" placeholder="Search for snippets" />
							<div class="input-group-btn">
								<div class="btn-group" role="group">
									<div class="dropdown dropdown-lg">
										<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
										<div class="dropdown-menu dropdown-menu-right" role="menu">
											<form class="form-horizontal" role="form">
											<div class="form-group">
												<label for="filter">Filter by</label>
												<select class="form-control">
													<option value="0" selected>People</option>
													<option value="1">Tags</option>
													<option value="2">Title</option>
												</select>
											</div>
											<div class="date-section"> 
												<label for="filter">Time</label>
												<div class="datepicker-box">
													<div class="form-group">
														<div class="row">
														<label class="col-sm-3">From</label>
														<div class="input-group col-sm-9">
															<input class="form-control datepicker" name="birthdate" id="datepicker1" type="text">

															<label class="input-group-addon" for="datepicker1">
																<a href="#"><i class="linecons-calendar"></i></a>
															</label>
														</div>
														</div>
													</div>
													<div class="form-group">
														<div class="row">
														<label class="col-sm-3">TO</label>
														<div class="input-group col-sm-9">
															<input class="form-control datepicker" name="birthdate" id="datepicker2" type="text">

															<label class="input-group-addon" for="datepicker2">
																<a href="#"><i class="linecons-calendar"></i></a>
															</label>
														</div>
														</div>
													</div>
												</div>
											</div>
											</form>
										</div>
									</div>
									<button type="button" class="btn btn-primary"><span class="fa fa-search" aria-hidden="true"></span></button>
								</div>
							</div>
						</div>
					</div>
					   <!-- Annotation-filter End -->
					   
                       <div class="panel-group">
						 <!-- Panel One Start -->
							<!-- Inner Panel Group -->
									<!-- Inner Panel Group label 2 Start-->
										<div class="panel panel-default">
										   <div class="panel-heading">
											  <h4 class="panel-title">
												 <a data-toggle="collapse" data-parent="#nested" href="#annotation-sidebar1">
												  <span class="panelusername">Santosh Kumar</span>
												  <span class="lavel-img"><img src="images/lavel.png"/>245</span>
												 </a>
											  </h4>
										   </div><!--/.panel-heading -->
										   <div id="annotation-sidebar1" class="panel-collapse collapse in">
											  <div class="panel-body">
												<div class="comment-block clearfix">
												  <div class="comment-like">
													<span class="likebtn"><img src="images/thumb-up.png"></span>
													<span class="dislikebtn"><img src="images/thumb-down.png"></span>
												  </div>
												  <div class="comment-right">Anim pariatur cliche reprehenderit</div>
												</div>
												<div class="panel-body-inner">
													<div class="custom-tag-block">
													  <span class="custom-tag dark-blue-bg">UI Design</span>
													  <span class="custom-tag green-bg">Interactive Design</span> 
													</div>
													<p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.</p>
													<button class="btn replybtn">Reply</button>
													<!-- Inner Panel Group label 2 Start-->
										<div class="panel panel-default">
										   <div class="panel-heading">
											  <h4 class="panel-title">
												 <a data-toggle="collapse" data-parent="#annotation-accordian12" href="#annotation-accordian12">
												  <span class="panelusername">Santosh Kumar</span>
												  <span class="lavel-img"><img src="images/lavel.png"/>245</span>
												 </a>
											  </h4>
										   </div><!--/.panel-heading -->
										   <div id="annotation-accordian12" class="panel-collapse collapse">
											  <div class="panel-body">
												
												<div class="panel-body-inner">
												
												<p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.</p>
												
												<button class="btn replybtn">Reply</button>
												
												</div>
												
												
												
											  </div><!--/.panel-body -->
										   </div><!--/.panel-collapse --> 
										</div><!-- /.panel --> 
													
												</div>
												
												
												
											  </div><!--/.panel-body -->
										   </div><!--/.panel-collapse --> 
										</div><!-- /.panel --> 
									
									<!-- Inner Panel Group End-->
							
							<!-- Panel One End -->
							
							
							<!-- Panel Two Start -->
							<!-- Inner Panel Group -->
									<div class="panel panel-default">
									   <div class="panel-heading">
										  <h4 class="panel-title">
											 <a data-toggle="collapse" data-parent="#nested" href="#annotation-accordian2">
											  <span class="panelusername">Santosh Kumar</span>
											  <span class="lavel-img"><img src="images/lavel.png"/>245</span>
											 </a>
										  </h4>
									   </div><!--/.panel-heading -->
									   <div id="annotation-accordian2" class="panel-collapse collapse">
										  <div class="panel-body">
										    <div class="comment-block clearfix">
											  <div class="comment-like">
											    <span class="likebtn"><img src="images/thumb-up.png"/></span>
												<span class="dislikebtn"><img src="images/thumb-down.png"/></span>
											  </div>
											  <div class="comment-right">Anim pariatur cliche reprehenderit</div>
											</div>
											<div class="panel-body-inner">
										    <div class="custom-tag-block">
											  <span class="custom-tag dark-blue-bg">UI Design</span>
											  <span class="custom-tag green-bg">Interactive Design</span> 
											</div>
											<p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.</p>
											<button class="btn replybtn">Reply</button>
											</div>
											
										<!-- Inner Panel Group label 2 Start-->
										<div class="panel panel-default">
										   <div class="panel-heading">
											  <h4 class="panel-title">
												 <a data-toggle="collapse" data-parent="#annotation-accordian3" href="#annotation-accordian3">
												  <span class="panelusername">Santosh Kumar</span>
												  <span class="lavel-img"><img src="images/lavel.png"/>245</span>
												 </a>
											  </h4>
										   </div><!--/.panel-heading -->
										   <div id="annotation-accordian3" class="panel-collapse collapse">
											  <div class="panel-body">
												
												<div class="panel-body-inner">
												
												<p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.</p>
												
												<button class="btn replybtn">Reply</button>
												
												</div>
												
												
												
											  </div><!--/.panel-body -->
										   </div><!--/.panel-collapse --> 
										</div><!-- /.panel --> 
										
										<!-- Inner Panel Group label 2 End-->
											
											
										  </div><!--/.panel-body -->
									   </div><!--/.panel-collapse --> 
									</div><!-- /.panel --> 
							
							<!-- Panel Two End -->
         				</div><!-- /.panel-group -->
				   
				 </div>
				
				<!-- Annoation Sidebar End -->
				





	<!-- Article viewer comments Sidebar start-->
		<div class="firac-accordian-block annoation-sidebar-block commonsidewidth" id="comment-sidebar-block" style="z-index:9;">
            <a href="javascript:void(0);" class="addinsightComm">Add Comment</a>
            <form class="firac-form">
                <div class="form-group">
                    <textarea id="comm" class="form-control" ng-model="user_comment" placeholder="Write your comment"></textarea>
                </div>
                <button class="btn btn-submit" type="submit" ng-click="replyOnComment([], user_comment)">Submit</button>
            </form>
            <div class="panel-group">
                <!-- Panel One Start -->
                <!-- Inner Panel Group -->
                <!-- Inner Panel Group label 2 Start-->
                <div class="panel panel-default" ng-repeat="comment1 in commentList">
                    <div class="panel-heading">
                        <h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#nested" href="#{{comment1._id}}" target="_self" ng-class="{'collapsed':!comment1.collapse}" ng-click="collapseComment(comment1._id)">
							  <span class="panelusername">{{comment1.user_name}}</span>
							  <span class="lavel-img"><img src="images/lavel.png"/>{{comment1.iq_score}}</span>
							</a>
						  </h4>
                    </div>
                    <!--/.panel-heading -->
                    <div id="{{comment1._id}}" class="panel-collapse collapse" ng-class="{'in':comment1.collapse}">
                        <div class="panel-body">
                            <div class="comment-block clearfix">
                                <!-- <div class="comment-like">
                                    <span class="likebtn"><img src="images/thumb-up.png"></span>
                                    <span class="dislikebtn"><img src="images/thumb-down.png"></span>
                                </div> -->
                                <!-- <div class="comment-right">Anim pariatur cliche reprehenderit</div> -->
                                <div class="comment-right">{{comment1.comment_text}}
                                </div>
                                <button class="btn replybtn" ng-click="replyArticleCommentStatusBtn(comment1)">Reply</button>
                                <div class="reply-comment-box" ng-if="comment1.showCommReply">
                                    <textarea class="form-control" ng-model="comment1.replyTextVal"></textarea>
                                    <button class="btn btn-inverse" ng-click="replyOnComment([comment1._id], comment1.replyTextVal)">Reply</button>
                                </div>
                            </div>
                            <div class="panel-body-inner" ng-if="comment1.comments">
                                <!-- Inner Panel Group label 2 Start-->
                                <div class="panel panel-default" ng-repeat="comment2 in comment1.comments">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
											 <a data-toggle="collapse" data-parent="#nested" href="#{{comment2._id}}" target="_self">
											  <span class="panelusername">{{comment2.user_name}}</span>
											  <span class="lavel-img"><img src="images/lavel.png"/>{{comment2.iq_score}}</span>
											 </a>
										  </h4>
                                    </div>
                                    <!--/.panel-heading -->
                                    <div id="{{comment2._id}}" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <div class="panel-body-inner">
                                                <p>{{comment2.comment_text}}</p>
                                                <button class="btn replybtn" ng-click="replyArticleCommentStatusBtn(comment2)">Reply</button>
                                                <div class="reply-comment-box" ng-if="comment2.showCommReply">
                                                    <textarea class="form-control" ng-model="comment2.replyTextVal"></textarea>
                                                    <button class="btn btn-inverse" ng-click="replyOnComment([comment1._id, comment2._id], comment2.replyTextVal)">Reply</button>
                                                </div>
											</div>
											<div class="panel-body-inner" ng-if="comment2.comments">
												<!-- Inner Panel Group label 2 Start-->
												<div class="panel panel-default" ng-repeat="comment3 in comment2.comments">
													<div class="panel-heading">
														<h4 class="panel-title">
															<a data-toggle="collapse" data-parent="#nested" href="#{{comment3._id}}" target="_self">
															<span class="panelusername">{{comment3.user_name}}</span>
															<span class="lavel-img"><img src="images/lavel.png"/>{{comment3.iq_score}}</span>
															</a>
														</h4>
													</div>
													<!--/.panel-heading -->
													<div id="{{comment3._id}}" class="panel-collapse collapse in">
														<div class="panel-body">
															<div class="panel-body-inner">
																<p>{{comment3.comment_text}}</p>
																<button class="btn replybtn" ng-click="replyArticleCommentStatusBtn(comment3)">Reply</button>
																<div class="reply-comment-box" ng-if="comment3.showCommReply">
																	<textarea class="form-control" ng-model="comment3.replyTextVal"></textarea>
																	<button class="btn btn-inverse" ng-click="replyOnComment([comment1._id, comment2._id, comment3._id], comment3.replyTextVal)">Reply</button>
																</div>
															</div>
															<div class="panel-body-inner" ng-if="comment3.comments">
																<!-- Inner Panel Group label 2 Start-->
																<div class="panel panel-default" ng-repeat="comment4 in comment3.comments">
																	<div class="panel-heading">
																		<h4 class="panel-title">
																			<a data-toggle="collapse" data-parent="#nested" href="#{{comment4._id}}" target="_self">
																			<span class="panelusername">{{comment4.user_name}}</span>
																			<span class="lavel-img"><img src="images/lavel.png"/>{{comment4.iq_score}}</span>
																			</a>
																		</h4>
																	</div>
																	<!--/.panel-heading -->
																	<div id="{{comment4._id}}" class="panel-collapse collapse in">
																		<div class="panel-body">
																			<div class="panel-body-inner">
																				<p>{{comment4.comment_text}}</p>
																				<!-- <button class="btn replybtn" ng-click="replyArticleCommentStatusBtn(comment4)">Reply</button>
																				<div class="reply-comment-box" ng-if="comment4.showCommReply">
																					<textarea class="form-control" ng-model="comment4.replyTextVal"></textarea>
																					<button class="btn btn-inverse" ng-click="replyOnComment([comment1._id, comment2._id, comment3._id, comment4._id], comment4.replyTextVal)">Reply</button>
																				</div> -->
																			</div>
																		</div>
																		<!--/.panel-body -->
																	</div>
																	<!--/.panel-collapse -->
																</div>
																<!-- /.panel -->
															</div>
														</div>
														<!--/.panel-body -->
													</div>
													<!--/.panel-collapse -->
												</div>
												<!-- /.panel -->
											</div>
                                        </div>
                                        <!--/.panel-body -->
                                    </div>
                                    <!--/.panel-collapse -->
                                </div>
                                <!-- /.panel -->
                            </div>
                        </div>
                        <!--/.panel-body -->
                    </div>
                    <!--/.panel-collapse -->
                </div>
                <!-- /.panel -->
                <!-- Inner Panel Group End-->
                <!-- Panel One End -->
            </div>
            <!-- /.panel-group -->
        </div>
				
	<!-- Article viewer comments Sidebar End -->



				
				
				<!-- FIRAC Facts Sidebar -->
				 <div class="firac-facts commonsidewidth">
				   <!-- <button class="overlay-hide-btn btn"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></button> -->
					<div ng-if="!firac.ownFirac">
						<div class="law-topics">
							<h4>Name - {{firacDetail.user_id.user_name}}</h4>
						</div>

						<div class="law-topics">
							<h4>Facts</h4>
							<p>{{firacDetail.data.fact}}</p>
						</div>
						
						<div class="law-topics">
							<h4>Issue</h4>
							<p>{{firacDetail.data.issue}}</p>
						</div>
						
						<div class="law-topics">
							<h4>Rationale</h4>
							<p>{{firacDetail.data.rule}}</p>
						</div>
						
						<div class="law-topics">
							<h4>Application</h4>
							<p>{{firacDetail.data.analysis}}</p>
						</div>
						
						<div class="law-topics">
							<h4>Conclusion</h4>
							<p>{{firacDetail.data.conclusion}}</p>
						</div>
					</div>
					<div ng-if="firac.ownFirac">
						<div class="form-group">
							<h4>Facts</h4>
							<textarea class="form-control" placeholder="Write your facts..." ng-model="firac.facts"></textarea>
						</div>
						<div class="form-group">
							<h4>Issue</h4>
							<textarea class="form-control" placeholder="Write your issue..." ng-model="firac.issue"></textarea>
						</div>
						<div class="form-group">
							<h4>Rationale</h4>
							<textarea class="form-control" placeholder="Write your rationale..." ng-model="firac.rationale"></textarea>
						</div>
						<div class="form-group">
							<h4>Application</h4>
							<textarea class="form-control" placeholder="Write your application..." ng-model="firac.application"></textarea>
						</div>
						<div class="form-group">
							<h4>Conclusion</h4>
							<textarea class="form-control" placeholder="Write your conclusion..." ng-model="firac.conclusion"></textarea>
						</div>
						<div class="button-box center">
							<button class="btn btn-primary custom-black" ng-click="submitFirac(true)">Submit</button>
							<button class="btn btn-primary" ng-click="submitFirac(false)">Cancel</button>
						</div>
					</div>
					<div class="row" ng-if="user_id == firacDetail.user_id.user_id">
						<div class="col-sm-8">
							<div class="comment-links">
								<a href="javascript:void(0);"  class="italiclinks" ng-if="!firac.ownFirac" ng-click="editFirac()">Edit Firac</a>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-7">
							<div class="comment-links">
								<a href="javascript:void(0);" class="italiclinks" ng-if="!firac.ownFirac && firacList.length!=0" ng-click="commentFiracStatus()">Comment</a>
								<a href="javascript:void(0);"  class="italiclinks" ng-if="!firac.ownFirac" ng-click="addOwnFirac()">Add Your Own Firac</a>
							</div>
						</div>
						<div class="col-sm-5" ng-if="!firac.ownFirac && firacList.length!=0">
							<div class="topics-paginatoin">
								<button class="prevbtn" ng-click="changeFiracPage('prev')"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
								<span>{{firacPageCount+1}} / {{firacList.length}}</span>
								<button class="nextbtn active" ng-click="changeFiracPage('next')"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
							</div>
						</div>
					</div>

					<div class="row" ng-if="firac.showCommentFirac">
						<div class="col-sm-12">
							<div class="reply-comment-box">
								<textarea class="form-control" ng-model="firac.comment"></textarea>
								<button class="btn btn-inverse" ng-click="commentFirac()">Submit</button>
							</div>
						</div>
					</div>

					<div class="row" ng-if="firacList.length!=0">
						<div class="col-sm-12">
							<span class="lavel-img">
								<img src="images/thumb-up.png" ng-class="{'like_dislike':firacDetail.like==true}" ng-click="likeFirac(true)" />
								<span>{{firacDetail.likeCount}}</span>
							</span>
							<span class="lavel-img">
								<img src="images/thumb-down.png" ng-class="{'like_dislike':firacDetail.like==false}" ng-click="likeFirac(false)" />
								<span>{{firacDetail.disLikeCount}}</span>
							</span>	
						</div>
					</div>

					<div class="row">
						<div class="col-sm-12">
              				<div class="panel-group">
								<div class="panel panel-default" style="padding-left: 0;">
									<div ng-repeat="comment in firacDetail.comments">
										<div class="panel-heading">
											<h4 class="panel-title">
												<a data-toggle="collapse" target="_self" data-parent="#nested" href="#{{comment._id}}">
													<span class="panelusername">user</span>
												</a>
											</h4>
										</div>
										<div id="{{comment._id}}" class="panel-collapse collapse in">
											<div class="panel-body">
												<div class="panel-body-inner">
													<p>{{comment.comment_text}}</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					
				 </div>


				 <!-- List Latest Cases Sidebar-->
			 <div class="list-cases-block commonsidewidth" id="list-cases-sidebar-block">
                     <div class="latest-block">
						    
						      <div class="gloabl-detail-block">
							  <button class="btn editcases" id="editcases2"><i class="fa fa-plus"></i></button>
							 
						       <div class="editable-content">
							     <span>14 Nov 2017</span>
								 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
							  </p>
							   </div>
							
							  <!-- Editable-case-block Start -->
							  <div class="editable-case-block" id="editable-case-block2">
							   <form class="editable-case-form">
							     <div class="form-group">
								  <input class="form-control datepicker" id="datepicker" type="text">
								 </div>
							    <div class="form-group">
								 <textarea class="form-control" style="height: 104px;"></textarea>
								</div>
							   </form>
							   <button class="btn btn-submit save-cases2">Save</button>
							   
							  </div>
							  <!-- Editable-case-block -->
						    </div>
						   </div>
			 </div>
			 <!-- List Latest Cases End-->


				
				<!-- Research Paper Sidebar Start-->
				 <div class="research-paper-sidebar commonsidewidth">
				   <button class="overlay-hide-btn btn"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
				    <!-- <div class="linkhead"><a href="javascript:void(0);"  class="italiclinks">Cite a research paper</a></div> -->
					<!-- research-paper block 1 Start -->
					<div class="research-paper-block" ng-repeat="article in similarDocList" ng-if="article._type == 'lawcunae_article'">
					 <span class="research-no">{{$index+1}}.</span>
					 <h4 class="research-title">{{article._source.title}}</h4>
					<div class="law-topics">
						 <h4>Abstract</h4>
						 <p>
						  {{article._source.abstract}}
						 </p>
					</div>

					<div class="law-topics">
						 <h4>Publication</h4>
						 <p>
						  Publication Name
						 </p>
					</div>
					
					 	<!-- <div class="equivelent-block">
						  
						  <label>Equivlent</label>
						  <div class="equivelent-detail">
						    <div class="clearfix equivelent-inner">
							  <span>No. 80-45684</span><span>Supreme court Reporter</span>
							</div>
							<div class="clearfix equivelent-inner">
							  <span>No. 80-45684</span><span>Labour court Reporter</span>
							</div>
							<div class="clearfix equivelent-inner">
							  <span>No. 80-45684</span><span>High court Reporter</span>
							</div>
							<div class="clearfix equivelent-inner">
							  <span>No. 80-45684</span><span>Labour court Reporter</span>
							</div>
						  </div>
						</div> -->
					</div>
					<!-- research-paper block 1 end -->
					
				 </div>
				
				<!-- Filter Document Paper Sidebar Start-->
				<div class="filter-document-sidebar commonsidewidth">
				   <button class="overlay-hide-btn btn"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
				   
				   <div class="gloabl-detail-block" ng-repeat="doc in similarDocList" ng-if="doc._type == 'indian_kanoon_new'">
				     <h4>{{doc._source.title}}</h4>
					 <p><label>Date : </label>26/11/2017</p>
					 <div class="row">
					   <div class="col-sm-6">
					    <p><label>Citation:</label>49.SCC.2017</p>
					   </div>
					   <div class="col-sm-6">
					    <p><label>Court:</label>{{doc._source.courtName}}</p>
					   </div>
					 </div>
					 <p><label>Summary:</label>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam
						efficitur dapibus rhoncus. Integer in leo quis erat viverra egestas tincidunt 
						quis augue. Nullam dapibus ex vitae enim imperdiet imperdiet. Nullam 
						cursus dui eu ligula viverra, vitae tincidunt sapien malesuada. Nunc a ipsum 
						dolor. Fusce vel libero sapien. Suspendisse ac luctus ipsum. Aenean cursus 
						vel dui luctus condimentum. Pellentesque habitant morbi tristique 
						senectus et netus et malesuada fames ac turpis egestas. Proin dui lectus, 
						hendrerit nec sem et.</p>
					 
				   </div>
				</div>
				<!-- Filter Document Paper Sidebar End-->
	</div>
	
<div class="right-sidebar" ng-if="page!='searchTab'">
	<div class="right-sidebar-inner">
		<!-- <ul>
			<li><button class="sidebtn-common filter-btn"><img src="images/refresh.icon.png"></button></li>
			<li><a href=""><img src="images/r-1.png"></a></li>
			<li><a href=""><img src="images/r-2.png"></a></li>
			<li><a href=""><img src="images/r-3.png"></a></li>
			<li><a href=""><img src="images/r-4.png"></a></li>
		</ul> -->

		<ul ng-if="page=='homeTab'">
			<li><button class="sidebtn-common filter-btn"><img src="images/refresh.icon.png"></button></li>
		</ul>
		<ul ng-if="page=='documentTab'">
		  	<li ng-click="nestedAnnoClk()"><button class="nested-accordian-toggle"><img src="images/list-view.png"/></button></li>
			<li ng-click="nestedFiracClk()"><button class="facts-toggle"><img src="images/r-1.png"/></button></li>
			<li>
			 <button class="sidebtn-common annotation-btn">
			   <img src="images/annotation-icon-active.png"/></button>
			</li>
			<li ng-click="nestedSameDocClk('article')"><button class="research-toggle"><img src="images/r-3.png"/></button></li>
			<li ng-click="nestedSameDocClk('doc')"><button class="document-toggle"><img src="images/r-4.png"/></button></li>
		</ul>
		<ul ng-if="page=='caseViewerTab'">
			<li ng-click="nestedSameCaseClk('article')"><button class="research-toggle"><img src="images/r-3.png"/></button></li>
			<li><button class="sidebtn-common list-btn"><i class="fa fa-book" aria-hidden="true"></i></button></li>
		</ul>
		<ul ng-if="page=='articleTab'">
			<li ng-click="nestedSameClk('comment')"><button class="sidebtn-common comment-btn"><img src="images/list-view.png"/></button></li>
			<li ng-click="nestedSameClk('article')"><button class="research-toggle"><img src="images/r-3.png"/></button></li>
			<li ng-click="nestedSameClk('doc')"><button class="document-toggle"><img src="images/r-4.png"/></button></li>
		</ul>
	</div>
</div>	

<div ng-if="page=='searchTab'">
	<!-- search-tab-filter Star -->
	<div class="search-tab-filter">
			<div class="global-filter-head">
				Filters
			</div>
		<div class="global-filter-body">
		
		<!-- <div class="grid-view-block">
			<div class="grid-view"><img src="images/infographic.png"> <span>Visual View</span></div>
			<div class="grid-view"><img src="images/list.png"> <span>List View</span></div>
		</div> -->
		
		<!-- <div class="filter-area">
			<h4 class="filter-area-head">Active Filters</h4>
			 <div class="form-group">
				<select class="court_filter" name="state"></select>
			</div> 
			 <div class="button-box center" ng-click="searchListFilter()">
				<button class="btn btn-primary custom-black">Filter</button>
			</div> 
			<div class="filter-area-body">
				<div class="filter-tags">
				<span class="custom-tag">Delhi Court<i class="fa fa-close closetag"></i></span>
				<span class="custom-tag">Constitution<i class="fa fa-close closetag"></i></span>
				<span class="custom-tag">Public Health<i class="fa fa-close closetag"></i></span>
				<span class="custom-tag">2 Oct, 1920 to 12 Oct 2017<i class="fa fa-close closetag"></i></span></div>
			</div>
		</div> -->
		<!-- Filter Are 1 End -->

		<div class="filter-area">
			<h4 class="filter-area-head">Results containing :</h4>
			<div class="form-group">
				<input class="form-control" type="text" ng-model="filter.containing" />
			</div>
		</div>

		<div class="filter-area">
			<h4 class="filter-area-head">Type</h4>
			<div class="form-group">
				<select class="form-control" ng-model="filter.type">
					<option value="default">Everywhere</option>
					<option value="india_kanoon_new">Documents</option>
					<option value="lawcunae_case">Cases</option>
					<option value="lawcunae_user">Users</option>
				</select>
			</div>
		</div>
		
		<div class="filter-area">
			<h4 class="filter-area-head">Date</h4>
			<div class="filter-area-body">
			<div class="datepicker-box">
				<div class="form-group">
					<div class="row">
					<label class="col-sm-3">From</label>
					<div class="col-sm-9">
					<div class="input-group">
						<input class="form-control" name="birthdate"  type="text" id="fromFilter"/>
						<label class="input-group-addon datepickerFrom" for="datepicker1">
							<a href="#"><i class="linecons-calendar"></i></a>
						</label>
						</div>
					</div>
					</div>
				</div>
				<div class="form-group">
					<div class="row">
					<label class="col-sm-3">To</label>
					<div class="col-sm-9">
					<div class="input-group">
						<input class="form-control" name="birthdate" type="text" id="toFilter"/>
						<label class="input-group-addon datepickerTo" for="datepicker2">
							<a href="#"><i class="linecons-calendar"></i></a>
						</label>
						</div>
					</div>
					</div>
				</div>
			</div>
			</div>
		</div>
		<!-- Filter Are 2 End -->
		
		<div class="filter-area">
			<h4 class="filter-area-head">Court</h4>
			<div class="form-group">
				<select class="court_filter" name="states[]" multiple="multiple"></select>
			</div>
		</div>
		
			<!-- Filter Are 3 End -->
		
		<div class="filter-area">
			<h4 class="filter-area-head">Topics</h4>
			<div class="filter-area-body">
				<select class="topic_filter" name="states[]" multiple="multiple"></select>
			</div>
		</div>
			<!-- Filter Are 5 End -->

		<div class="filter-area">
			<div class="filter-area-body">
				<div class="button-box center" ng-click="searchListFilter()">
					<button class="btn btn-primary custom-black">Filter</button>
				</div>
			</div>
		</div>



		</div>
	</div>		
		<!-- search-tab-filter End -->
</div> 
<!-- Global-filter-block -->
		<div class="global-filter-box">
			<h2 class="global-filter-head">Updates</h2>
			<div class="global-filter-body">
				<div class="updates-msg">
					<span class="update-icon"><i class="fa fa-file-text-o"></i></span>
					<p>Lorem ipsum dolor sit amet.</p>
					<label>Annotating</label>
				</div>
				<div class="updates-msg">
					<span class="update-icon"><i class="fa fa-file-text-o"></i></span>
					<p>Lorem ipsum dolor sit amet.</p>
					<label>Annotating</label>
				</div>
				<div class="updates-msg">
					<span class="update-icon"><i class="fa fa-file-text-o"></i></span>
					<p>Lorem ipsum dolor sit amet.</p>
					<label>Annotating</label>
				</div>
				<div class="updates-msg">
					<span class="update-icon"><i class="fa fa-file-text-o"></i></span>
					<p>Lorem ipsum dolor sit amet.</p>
					<label>Annotating</label>
				</div>
				<div class="updates-msg">
					<span class="update-icon"><i class="fa fa-file-text-o"></i></span>
					<p>Lorem ipsum dolor sit amet.</p>
					<label>Annotating</label>
				</div>
				<div class="updates-msg">
					<span class="update-icon"><i class="fa fa-file-text-o"></i></span>
					<p>Lorem ipsum dolor sit amet.</p>
					<label>Annotating</label>
				</div>
				<div class="updates-msg">
					<span class="update-icon"><i class="fa fa-file-text-o"></i></span>
					<p>Lorem ipsum dolor sit amet.</p>
					<label>Annotating</label>
				</div>
				<div class="updates-msg">
					<span class="update-icon"><i class="fa fa-file-text-o"></i></span>
					<p>Lorem ipsum dolor sit amet.</p>
					<label>Annotating</label>
				</div>
				<div class="updates-msg">
					<span class="update-icon"><i class="fa fa-file-text-o"></i></span>
					<p>Lorem ipsum dolor sit amet.</p>
					<label>Annotating</label>
				</div>
				<div class="updates-msg">
					<span class="update-icon"><i class="fa fa-file-text-o"></i></span>
					<p>Lorem ipsum dolor sit amet.</p>
					<label>Annotating</label>
				</div>
				<div class="updates-msg">
					<span class="update-icon"><i class="fa fa-file-text-o"></i></span>
					<p>Lorem ipsum dolor sit amet.</p>
					<label>Annotating</label>
				</div>
				<div class="updates-msg">
					<span class="update-icon"><i class="fa fa-file-text-o"></i></span>
					<p>Lorem ipsum dolor sit amet.</p>
					<label>Annotating</label>
				</div>
				<div class="updates-msg">
					<span class="update-icon"><i class="fa fa-file-text-o"></i></span>
					<p>Lorem ipsum dolor sit amet.</p>
					<label>Annotating</label>
				</div>
			</div>
		</div>
		<!-- Global-filter-block -->
	
</div>

<!-- Modal -->
<div id="addCaseFromSidebar" class="modal fade modal_custom" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
        <h3 class="head4 text-center">Add Case</h3>
			<form>
				<div class="form-group">
					<label>Title</label>
					<input type="text" class="form-control" placeholder="Title" ng-model="case.title" />
				</div>
				<div class="form-group">
					<label>Summary</label>
					<input type="text" class="form-control" placeholder="Summary" ng-model="case.summary" />
				</div>
				<div class="custom-table" ng-if="tempDocList.length!=0">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Document name </th>
								<th>Court Name </th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="tempDoc in tempDocList track by $index">
								<td>{{tempDoc.title}}</td>
								<td>{{tempDoc.courtName}}</td>
									<td><i class="fa fa-trash" ng-click="addRelevantDocs(tempDoc, false)"></i></td> 
							</tr>
						</tbody>
					</table>
				</div>
				<div class="button-box text-right">
					<button class="btn btn-primary custom-black" ng-click="addCase(false)">Cancel</button>
					<button class="btn btn-primary custom-black" ng-click="addCase(true)">Submit</button>
				</div> 
			</form>
			<input type="text" class="form-control search_icn" placeholder="Search document " ng-model="case.search" ng-keyup="$event.keyCode === 13 && searchDoc()" />
			<div class="custom-table">
				<table class="table table-striped">
					<tbody>
						<tr ng-repeat="doc in searchDocList">
							<td>{{doc._source.title}}</td>
							<td><i class="fa fa-plus" ng-click="addRelevantDocs(doc, true)"></i></td>
						</tr>
					</tbody>
				</table>
			</div>
      </div>
    </div>
  </div>
</div>

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
	



	
	
	

