<div class="tab-panel-inner-block">
	<div ng-class="{'editabletrue':articleDetail._source.showEditDetail}">
		<div class="sub-heading">
			<strong ng-mouseover="publication_name={'cursor': 'pointer','text-decoration': 'underline'}" ng-mouseleave="publication_name={}" ng-style="publication_name" ng-click="editArticleDetail(true, articleDetail._source.publication_name, 'publication_name')">{{articleDetail._source.publication_name}}</strong>
		</div>
		<div class="main-heading">
			<div class="main-heading2 main-heading2-likes">
				<h4 ng-mouseover="title={'cursor': 'pointer','text-decoration': 'underline'}" ng-mouseleave="title={}" ng-style="title" ng-click="editArticleDetail(true, articleDetail._source.title, 'title')">{{articleDetail._source.title}}</h4>
				<div class="comment-like" style="width:100px;">
					<span ng-class="{'like_dislike':!articleDetail._source.like}" ng-click="like_article(true)"><img src="images/thumb-up.png"></span>
					<span>{{articleDetail._source.likeCount}}</span>
					<span ng-class="{'like_dislike':articleDetail._source.like}" ng-click="like_article(false)"><img src="images/thumb-down.png"></span>
					<span>{{articleDetail._source.disLikeCount}}</span>
				</div>
			</div>
		</div>
		<div class="sub-heading">
			<strong ng-mouseover="author_name={'cursor': 'pointer','text-decoration': 'underline'}" ng-mouseleave="author_name={}" ng-style="author_name" ng-click="editArticleDetail(true, articleDetail._source.author_name, 'author_name')">{{articleDetail._source.author_name}}</strong>
			<p ng-mouseover="abstract={'cursor': 'pointer','text-decoration': 'underline'}" ng-mouseleave="abstract={}" ng-style="abstract" ng-click="editArticleDetail(true, articleDetail._source.abstract, 'abstract')">{{articleDetail._source.abstract}}</p>
		</div>
		<div class="sub-heading">
			<p><strong ng-mouseover="citation={'cursor': 'pointer','text-decoration': 'underline'}" ng-mouseleave="citation={}" ng-style="citation" ng-click="editArticleDetail(true, articleDetail._source.citation, 'citation')">{{articleDetail._source.citation}}</strong></p>
		</div>
		

		<div class="editable-box">
			<textarea class="form-control" ng-model="articleDetail._source.editDetText"></textarea>
			<div class="editable-submit">
				<button class="btn btn-default save_courtname" ng-click="editArticleDetail(false, articleDetail._source.editDetText)">Save</button> 
				<button class="btn btn-default save_courtname" ng-click="cancelBox('metadata')">Cancel</button>
			</div>
		</div>


		<div class="topics-block">
			<div class="row">
				<div class="col-sm-8">
				<div class="topics-tags">
					<label>Topics</label>
					<a href="javascript:void(0);"><span class="custom-tag dark-blue-bg">Legal Research</span></a>
					<a href="javascript:void(0);"><span class="custom-tag green-bg">Attorneys</span></a>
					<a href="javascript:void(0);"><span class="custom-tag light-red-bg">Common Law</span></a>
					<a href="javascript:void(0);"><span class="custom-tag blue-bg">Jurisprudence</span></a>
					<a href="javascript:void(0);"><span class="custom-tag light-red-bg">Design</span></a>
				</div>
				</div>
				<div class="col-sm-4">
				<div class="icons icons-full text-right">
				<span> <a href="javascript:void(0);"><img src="images/order-icon.png"></a> </span>
				<span> <a href="javascript:void(0);"><img src="images/message.png"></a> </span>
				<span> <a href="javascript:void(0);"><img src="images/printer.png"></a> </span>
				<span> <a href="javascript:void(0);"><img src="images/grapheVille.png"></a> </span>
				</div>
				</div>
			</div>
		</div>
	</div>
	<div class="outer-block outer-block-full">
		<div class="inner-block">
			<div class="left-content editparafield left-content-full" ng-class="{'editabletrue':articleDetail._source.showEditText}">
				<p class="paraedit" ng-bind-html="trustAsHtml(articleDetail._source.text)" ng-click="articleTextClk($event, articleDetail._source.article_id, articleDetail._source.text, true)"></p>
				<div class="editable-box">
					<textarea class="form-control" id="text{{articleDetail._source.article_id}}" ng-model="articleDetail._source.edittext"></textarea>
					<div class="editable-submit">
						<button class="btn btn-default editsave" ng-click="articleTextClk($event, articleDetail._source.article_id, articleDetail._source.edittext, false)">Save</button>
						<button class="btn btn-default save_courtname" ng-click="cancelBox('text')">Cancel</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>