<div class="meta-entry clearfix">
	<div class="col-sm-12"><h6 class="heading20">Basic Meta Data Entry</h6></div>
	<form class="form-horizontal">
		<div class="form-group">
			<div class="col-sm-12">
				<label>Title</label>
				<input type="text" class="form-control" id="" placeholder="Title" ng-model="draft.title" ng-keyup="editedDraft()">
			</div>
		</div>
		<div class="form-group">
			 <div class="col-sm-4">
				 <label>Author Name</label>
				<input type="text" class="form-control" id="" placeholder="Author Name" ng-model="draft.author_name" ng-keyup="editedDraft()">
			</div>
			<div class="col-sm-4">
				<label>Citation</label>
				<input type="text" class="form-control" id="" placeholder="Citation" ng-model="draft.citation" ng-keyup="editedDraft()">
			</div>
			<div class="col-sm-4">
				<label>Publication Name</label>
				<input type="text" class="form-control" id="" placeholder="Publication Name" ng-model="draft.publication_name" ng-keyup="editedDraft()">
			</div> 
		</div>
		 <div class="form-group">
			<div class="col-sm-12">
				<label>Abstract</label>
				<textarea type="text" class="form-control" id="" placeholder="Abstract" ng-model="draft.abstract" ng-keyup="editedDraft()"></textarea>
			</div>
		</div> 
	</form>
</div>
<div class="tags clearfix">
	<div class="col-sm-12"> 
		<div class="text"><strong> Approved Universal Tags </strong></div>
		<select class="draft_tag" name="states[]" multiple="multiple"></select>
		<!-- <a href="#"><span class="badge blue">Tag 1</span></a>
		<a href="#"><span class="badge green">Tag 2</span></a>
		<a href="#"><span class="badge red">Tag 3</span></a>
		<a href="#"><span class="badge brown">Tag 4</span></a> -->
	</div>
</div>
<div class="gloabl-box profile-tab-block">
	<ul class="nav nav-tabs">
	<li class="active"><a data-toggle="tab" href="#write" target="_self">Write</a></li>
	<li><a data-toggle="tab" href="#priview" target="_self" ng-click="previewClk()">Preview</a></li>
	</ul>

	<div class="tab-content">
		<div id="write" class="tab-pane fade in active">
			<form role="form" id ="write" class="clearfix" method="post">
					<div class="form-group">
						<textarea class="form-control wysihtml5" data-stylesheet-url="assets/js/wysihtml5/lib/css/wysiwyg-color.css" name="sample_wysiwyg" id="draft_edit_write">										
						</textarea>
					</div>
			</form>
		</div>
		<div id="priview" class="tab-pane fade">
			<form role="form" id ="write" class="clearfix" method="post" >
					<div class="form-group">
						<!-- <textarea class="form-control wysihtml5" data-stylesheet-url="assets/js/wysihtml5/lib/css/wysiwyg-color.css" name="sample_wysiwyg" id="sample_wysiwyg2" ng-bind-html="trustAsHtml(draft.preview)"></textarea> -->
						<span class="form-control" ng-bind-html="trustAsHtml(draft.preview)"></span>
					</div>
			</form>
		</div> 
	</div>
</div>
<div class="bottom-section clearfix">
	<div class="left-section">
		<label>Grammer <span>(6)</span> </label>
		<a href="#">Next</a>
		<a href="#">Previous</a>
	</div>
	<!-- <div class="right-section tags">
	<a href="#"><span class="badge blue">Tag 1</span></a>
	<a href="#"><span class="badge green">Tag 2</span></a>
	<a href="#"><span class="badge red">Tag 3</span></a>
	<a href="#"><span class="badge brown">Tag 4</span></a>
	<a href="#" class="add-tags"><i class="fa fa-plus-circle custom-plus" aria-hidden="true"></i><span>Add Tag</span></a>
	</div> -->
</div>
<h5><label>Suggestion :</label> <span class="suggestion-text"> vestibulum posuere sem a tempus. Fusce</span></h5>
<div class="button-box">
	<button class="btn btn-primary custom-black" ng-disabled="copyVal" ng-click="saveDraft('get_draft_id')">Save</button>
	<button class="btn btn-primary custom-black" ng-disabled="draft.published" ng-click="saveDraft('publish_draft')">Publish</button>
</div> 